.unisubs-substreamer {
   width: 600px;
}

.unisubs-controls {
   position: relative;
   height: 28px;
   margin-top: -5px;
   padding: 5px;
   background-color: #ebebeb;
   background: -moz-linear-gradient(
      top,
         hsla(0, 0%, 96%, 1),
            hsla(0, 0%, 92%, 1) 20%,
               hsla(0, 0%, 92%, 1)
      );
   background: -webkit-gradient(
      linear,
         left top,
            left bottom,
               color-stop(0, hsla(0, 0%, 96%, 1)),
                  color-stop(.2, hsla(0, 0%, 92%, 1)),
                     color-stop(1, hsla(0, 0%, 92%, 1))
      );
   border: 1px solid #ddd;
   border-bottom: none;
   font-size: 12px;
   }

.unisubs-controls ul, .controls ul li {
   display: inline;
   list-style: none;
   padding: 0;
   }

.unisubs-controls ul a {
   float: left;
   display: block;
   padding: 7px 5px;
   text-decoration: none;
   color: #666;
   }

.unisubs-controls ul a#edit-link {
   margin: -5px 0 -5px 5px;
   padding: 14px 10px 10px 12px;
   border-left: 1px solid #d3d3d3;
   color: #aaa;
   }

.unisubs-controls ul a#unisubs-logo {
   margin: -5px 5px -5px 0;
   padding: 12px 10px 8px 5px;
   border-right: 1px solid #d3d3d3;
   }

.unisubs-controls input {
   position: absolute;
   right: 5px;
   border: 1px solid #ddd;
   padding: 4px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   color: #888;
   }

.unisubs-transcript {
   clear: both;
   font-size: 13px;
   line-height: 225%;
   padding: 15px 50px;
   height: 225px;
   overflow: auto;
   border: 1px solid #ddd;
   background-color: #fff;
   }

.unisubs-transcript .unisubs-sub-current {
   color: #232323;
   border: 1px solid #cfd9e5;
   background-color: #d9ebff;
   padding: 5px 2px;
   margin: -5px -2px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.unisubs-transcript .unisubs-search {
   background-color: #f66;
}