/*************** @General Styles ***************/
/* line 18, ../../../unisubs-design/sass/v1.scss */
.v1 {
  color: #2f3c45;
}

/* line 22, ../../../unisubs-design/sass/v1.scss */
.v1 em {
  font-style: italic;
}

/* line 26, ../../../unisubs-design/sass/v1.scss */
.v1 .logo {
  margin: 1em 0 2em;
}

/* line 30, ../../../unisubs-design/sass/v1.scss */
.v1 .notation {
  font-size: .95em;
  color: #7692a3;
}

/* line 35, ../../../unisubs-design/sass/v1.scss */
.v1 .button, .v1 .content button, .v1 .form-container button {
  margin: 1em 0;
  padding: .5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #0f517a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #136aa1), color-stop(100%, #0f517a));
  background-image: -webkit-linear-gradient(#136aa1, #0f517a);
  background-image: -moz-linear-gradient(#136aa1, #0f517a);
  background-image: -o-linear-gradient(#136aa1, #0f517a);
  background-image: -ms-linear-gradient(#136aa1, #0f517a);
  background-image: linear-gradient(#136aa1, #0f517a);
  border: 1px solid #0c4a70;
  text-shadow: 1px 1px 1px #0c4a70;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
/* line 48, ../../../unisubs-design/sass/v1.scss */
.v1 .button:hover, .v1 .content button:hover, .v1 .form-container button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #136aa1), color-stop(100%, #0c4061));
  background-image: -webkit-linear-gradient(#136aa1, #0c4061);
  background-image: -moz-linear-gradient(#136aa1, #0c4061);
  background-image: -o-linear-gradient(#136aa1, #0c4061);
  background-image: -ms-linear-gradient(#136aa1, #0c4061);
  background-image: linear-gradient(#136aa1, #0c4061);
}
/* line 52, ../../../unisubs-design/sass/v1.scss */
.v1 .button.primary, .v1 .content button.primary, .v1 .form-container button.primary {
  font-size: 1.25em;
  padding: 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 58, ../../../unisubs-design/sass/v1.scss */
.v1 .button.reduced, .v1 .content button.reduced, .v1 .form-container button.reduced {
  border-color: #dce2e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#ffffff, #dce2e5);
  background-image: -moz-linear-gradient(#ffffff, #dce2e5);
  background-image: -o-linear-gradient(#ffffff, #dce2e5);
  background-image: -ms-linear-gradient(#ffffff, #dce2e5);
  background-image: linear-gradient(#ffffff, #dce2e5);
  text-shadow: none;
  color: #678ca3;
}
/* line 64, ../../../unisubs-design/sass/v1.scss */
.v1 .button.reduced:hover, .v1 .content button.reduced:hover, .v1 .form-container button.reduced:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -moz-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
  border-color: #b7c3c9;
  color: #486f87;
}

/* line 72, ../../../unisubs-design/sass/v1.scss */
.v1 .controls .button {
  display: block;
}

/* line 76, ../../../unisubs-design/sass/v1.scss */
.v1 .action-replacement {
  padding: 1em;
  margin: 1em 0 2em;
  background: #f3f6f8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #678ca3;
  text-align: center;
}

/* line 85, ../../../unisubs-design/sass/v1.scss */
.v1 .team-banner {
  margin-bottom: 2em;
}

/* line 89, ../../../unisubs-design/sass/v1.scss */
.v1 .view .empty {
  padding: 2em 1em;
  font-size: 18px;
  color: #678ca3;
}

/* line 96, ../../../unisubs-design/sass/v1.scss */
.v1 .view > div, .v1 .view > form {
  padding-top: 2em;
}

/*************** @Tabs ***************/
/* line 108, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs {
  float: left;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #dce2e5;
}
/* line 114, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li {
  display: inline;
}
/* line 117, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li a {
  display: block;
  float: left;
  padding: 1em 2em;
  text-decoration: none;
  color: #678ca3;
  border-style: solid;
}
/* line 125, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li a:hover {
  border-bottom-width: 2px;
  margin-bottom: -1px;
}
/* line 130, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li.current a {
  color: #3e6782;
  font-weight: bold;
  border-bottom-width: 2px;
  margin-bottom: -1px;
}

/*************** @Tools ***************/
/* line 140, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools {
  padding: 1em;
  margin: 0 -20px 0 0;
  border-bottom: 1px solid #e8ebed;
  font-size: 11px;
  text-align: right;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fafafa), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -moz-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -o-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -ms-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
}
/* line 152, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools .button {
  background: transparent;
  border: 1px solid transparent;
  color: #7692a3;
  text-shadow: none;
  padding: .5em 1em;
}
/* line 159, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools .button:hover {
  border-color: #b7c3c9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -moz-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
  color: #486f87;
}
/* line 166, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools form {
  padding: 0;
}
/* line 170, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools .filters {
  float: left;
  padding: 0;
  margin: -0.5em 0 0 -0.5em;
}
/* line 175, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools .filters > li {
  display: inline;
  padding: 0;
}
/* line 179, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools .filters > li select {
  width: 140px;
}

/*************** @Listings ***************/
/* line 195, ../../../unisubs-design/sass/v1.scss */
.v1 .listing {
  padding: 0;
}
/* line 198, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li {
  position: relative;
  padding: 2em 1em;
  border-bottom: 1px dotted #b7c3c9;
}
/* line 203, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li h3 {
  position: relative;
  font-size: 13px;
  padding-bottom: .25em;
  line-height: 1.5em;
}
/* line 209, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li h3 a {
  text-decoration: none;
  margin-right: .5em;
}
/* line 213, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li h3 a:hover {
  border-width: 0 0 1px 0;
  border-style: dotted;
}
/* line 220, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li p {
  margin: .5em 0;
}
/* line 224, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .thumb {
  position: absolute;
  top: 2em;
  left: 0;
}
/* line 228, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .thumb img {
  border: 1px solid #b7c3c9;
}
/* line 233, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions {
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
  padding: 0;
}
/* line 236, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions li {
  padding: 0;
  text-align: right;
  color: #a0b2bd;
}
/* line 242, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions a {
  color: #486f87;
  text-decoration: none;
}
/* line 247, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions li > a {
  display: block;
  padding: .5em 0;
}
/* line 251, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions li > a:after {
  content: ' →';
}
/* line 257, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .descriptor {
  font-size: 11px;
  font-weight: normal;
  padding: 1px 3px;
  background: #f3f6f8;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dce2e5;
  color: #7692a3;
}
/* line 267, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .admin-controls {
  display: none;
  position: absolute;
  bottom: 1em;
  right: 0;
  float: left;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -moz-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
  border: 1px solid #a0b2bd;
}
/* line 278, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .admin-controls.selected {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 283, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .admin-controls li {
  display: block;
  float: left;
  padding: 0;
}
/* line 288, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .admin-controls li a {
  display: block;
  float: left;
  padding: 5px 7px;
  text-decoration: none;
  color: #678ca3;
  border-left: 1px solid #a0b2bd;
  cursor: pointer;
}
/* line 297, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .admin-controls li a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #b7c3c9));
  background-image: -webkit-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -moz-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -o-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: -ms-linear-gradient(#f3f6f8, #b7c3c9);
  background-image: linear-gradient(#f3f6f8, #b7c3c9);
  color: #486f87;
}
/* line 303, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .admin-controls li input[type="checkbox"] {
  margin: 5px 7px;
}
/* line 308, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .admin-controls:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 313, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li:hover .admin-controls {
  display: block;
}

/* line 319, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.videos > li {
  min-height: 5em;
  padding-left: 120px;
  padding-right: 150px;
}
/* line 324, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.videos > li .thumb {
  width: 100px;
  height: 60px;
}
/* line 328, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.videos > li .thumb img {
  height: 60px;
}

/* line 334, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.members > li {
  min-height: 4em;
  padding-left: 65px;
  padding-right: 150px;
}
/* line 339, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.members > li .thumb {
  width: 45px;
  height: 45px;
}
/* line 343, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.members > li .thumb img {
  height: 45px;
}
/* line 348, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.members > li.current {
  background: #f6f6e4;
}

/* line 353, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.activity > li {
  padding-right: 150px;
}
/* line 356, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.activity > li .timestamp {
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
  padding: 0;
  width: 150px;
  text-align: right;
  color: #7692a3;
}

/* line 364, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.teams > li {
  min-height: 4em;
  padding-left: 68px;
  padding-right: 150px;
}
/* line 369, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.teams > li .thumb img {
  height: 48px;
}

/*************** @Controls ***************/
/* line 376, ../../../unisubs-design/sass/v1.scss */
.v1 .controls {
  width: 199px;
  padding-left: 20px;
  padding-bottom: 4em;
  border-left: 1px solid #dce2e5;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f5f5f5), color-stop(5%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -moz-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -o-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -ms-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
}
/* line 388, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul {
  padding: 0;
  margin: 1.5em 0 2.5em;
}
/* line 392, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li {
  padding: 0;
}
/* line 396, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li a {
  position: relative;
  display: block;
  padding: .75em 0 .75em 20px;
  margin-left: -20px;
  margin-bottom: .5em;
  text-decoration: none;
  color: #678ca3;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 406, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li a:hover {
  background-color: #f9fafb;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e8ecee), color-stop(5%, #f3f6f6), color-stop(100%, #f3f6f6));
  background-image: -webkit-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -moz-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -o-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -ms-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
}
/* line 415, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li a span {
  position: absolute;
  top: .75em;
  right: .75em;
  color: #a0b2bd;
}
/* line 422, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li.current a {
  background-color: #edf1f2;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e2e8e9), color-stop(5%, #edf1f2), color-stop(100%, #edf1f2));
  background-image: -webkit-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -moz-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -o-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -ms-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  color: #486f87;
}
/* line 431, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li.current a:hover {
  background-color: #e8ecee;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dce3e5), color-stop(5%, #e8ecee), color-stop(100%, #e8ecee));
  background-image: -webkit-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -moz-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -o-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -ms-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
}
/* line 440, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li.current a span {
  color: #7692a3;
}

/*************** @Forms ***************/
/* line 454, ../../../unisubs-design/sass/v1.scss */
.v1 form {
  padding: 1em 0;
}
/* line 457, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset {
  padding-bottom: 3em;
}
/* line 460, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset legend {
  font-weight: bold;
  padding-bottom: .5em;
}
/* line 465, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input, .v1 form fieldset textarea {
  margin-bottom: .5em;
  padding: 4px;
}
/* line 470, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset label {
  display: block;
  width: 100%;
  padding: 1.5em 0 .25em;
}
/* line 474, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset label .notation {
  float: right;
  margin-right: -8px;
}
/* line 480, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input[type="text"], .v1 form fieldset textarea {
  display: block;
  width: 100%;
  border: 1px solid #b7c3c9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 486, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input[type='checkbox'] {
  margin: 0 4px 0 0;
}
/* line 490, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input[type='file'] {
  display: block;
  width: 100%;
  padding: 0;
}
/* line 495, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset select {
  margin-bottom: .5em;
  padding: 4px;
  width: 100%;
}
/* line 501, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset textarea {
  height: 5em;
}

/* line 508, ../../../unisubs-design/sass/v1.scss */
.v1 .panel-holder form {
  float: left;
  width: 100%;
  clear: both;
}

/* line 514, ../../../unisubs-design/sass/v1.scss */
.v1 .panel-holder .tools form {
  float: none;
}

/* line 518, ../../../unisubs-design/sass/v1.scss */
.v1 form.workflow {
  margin-top: -3em;
}
/* line 521, ../../../unisubs-design/sass/v1.scss */
.v1 form.workflow fieldset {
  padding: 0 1em;
  background: #dce2e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 526, ../../../unisubs-design/sass/v1.scss */
.v1 form.workflow fieldset .button {
  margin-top: 2em;
}

/* line 532, ../../../unisubs-design/sass/v1.scss */
.v1 .permissions .workflow {
  margin-top: 1em;
  padding: 0 1em;
  background: #dce2e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 539, ../../../unisubs-design/sass/v1.scss */
.v1 .alpha .omega {
  margin-left: 60px;
}

/* line 543, ../../../unisubs-design/sass/v1.scss */
.v1 div.submit {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #dce2e5;
  text-align: right;
}
/* line 549, ../../../unisubs-design/sass/v1.scss */
.v1 div.submit input {
  padding: 4px;
}

/* line 554, ../../../unisubs-design/sass/v1.scss */
.v1 .controls form.search {
  margin-left: -10px;
}
/* line 557, ../../../unisubs-design/sass/v1.scss */
.v1 .controls form.search fieldset {
  padding: 0;
}
/* line 560, ../../../unisubs-design/sass/v1.scss */
.v1 .controls form.search fieldset input {
  width: 190px;
  padding: .5em;
  color: #a0b2bd;
  border-color: #dce2e5;
}
/* line 566, ../../../unisubs-design/sass/v1.scss */
.v1 .controls form.search fieldset input:focus {
  border-color: #678ca3;
}

/*************** @Dashboard ***************/
/* line 575, ../../../unisubs-design/sass/v1.scss */
.v1.dashboard h2 {
  margin: 0;
  padding-bottom: .5em;
}

/* line 580, ../../../unisubs-design/sass/v1.scss */
.v1.dashboard .row {
  clear: both;
  margin: 2em 0 0;
}

/*************** @Overrides ***************/
/* line 588, ../../../unisubs-design/sass/v1.scss */
.v1 .sort_button {
  float: none;
  padding: 0;
  margin: 0;
}
