/*************** @General Styles ***************/
/* line 16, ../../../unisubs-design/sass/v1.scss */
.v1 {
  color: #2f3c45;
}

/* line 20, ../../../unisubs-design/sass/v1.scss */
.v1 em {
  font-style: italic;
}

/* line 24, ../../../unisubs-design/sass/v1.scss */
.v1 .logo {
  margin: 1em 0 2em;
}

/* line 28, ../../../unisubs-design/sass/v1.scss */
.v1 .notation {
  font-size: .95em;
  color: #7692a3;
}

/* line 33, ../../../unisubs-design/sass/v1.scss */
.v1 .button, .v1 button {
  margin: 1em 0;
  padding: .5em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #0f517a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #136aa1), color-stop(100%, #0f517a));
  background-image: -webkit-linear-gradient(#136aa1, #0f517a);
  background-image: -moz-linear-gradient(#136aa1, #0f517a);
  background-image: -o-linear-gradient(#136aa1, #0f517a);
  background-image: -ms-linear-gradient(#136aa1, #0f517a);
  background-image: linear-gradient(#136aa1, #0f517a);
  border: 1px solid #0c4a70;
  text-shadow: 1px 1px 1px #0c4a70;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
/* line 46, ../../../unisubs-design/sass/v1.scss */
.v1 .button:hover, .v1 button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #136aa1), color-stop(100%, #0c4061));
  background-image: -webkit-linear-gradient(#136aa1, #0c4061);
  background-image: -moz-linear-gradient(#136aa1, #0c4061);
  background-image: -o-linear-gradient(#136aa1, #0c4061);
  background-image: -ms-linear-gradient(#136aa1, #0c4061);
  background-image: linear-gradient(#136aa1, #0c4061);
}
/* line 50, ../../../unisubs-design/sass/v1.scss */
.v1 .button.primary, .v1 button.primary {
  font-size: 1.25em;
  padding: 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 56, ../../../unisubs-design/sass/v1.scss */
.v1 .button.reduced, .v1 button.reduced {
  background-color: #dce2e5;
  border-color: #b7c3c9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f6f8), color-stop(100%, #dce2e5));
  background-image: -webkit-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -moz-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -o-linear-gradient(#f3f6f8, #dce2e5);
  background-image: -ms-linear-gradient(#f3f6f8, #dce2e5);
  background-image: linear-gradient(#f3f6f8, #dce2e5);
  text-shadow: none;
  color: #678ca3;
}
/* line 63, ../../../unisubs-design/sass/v1.scss */
.v1 .button.reduced:hover, .v1 button.reduced:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dce2e5), color-stop(100%, #b7c3c9));
  background-image: -webkit-linear-gradient(#dce2e5, #b7c3c9);
  background-image: -moz-linear-gradient(#dce2e5, #b7c3c9);
  background-image: -o-linear-gradient(#dce2e5, #b7c3c9);
  background-image: -ms-linear-gradient(#dce2e5, #b7c3c9);
  background-image: linear-gradient(#dce2e5, #b7c3c9);
  color: #486f87;
  border-color: #678ca3;
}

/* line 71, ../../../unisubs-design/sass/v1.scss */
.v1 .controls .button {
  display: block;
}

/* line 75, ../../../unisubs-design/sass/v1.scss */
.v1 .team-banner {
  margin-bottom: 2em;
}

/* line 79, ../../../unisubs-design/sass/v1.scss */
.v1 .view .empty {
  padding: 2em 1em;
  font-size: 18px;
  color: #678ca3;
}

/* line 86, ../../../unisubs-design/sass/v1.scss */
.v1 .view > div, .v1 .view > form {
  padding-top: 2em;
}

/*************** @Tabs ***************/
/* line 98, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs {
  float: left;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #dce2e5;
}
/* line 104, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li {
  display: inline;
}
/* line 107, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li a {
  display: block;
  float: left;
  padding: 1em 2em;
  text-decoration: none;
  color: #678ca3;
  border-style: solid;
}
/* line 115, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li a:hover {
  border-bottom-width: 2px;
  margin-bottom: -1px;
}
/* line 120, ../../../unisubs-design/sass/v1.scss */
.v1 .tabs li.current a {
  color: #3e6782;
  font-weight: bold;
  border-bottom-width: 2px;
  margin-bottom: -1px;
}

/*************** @Tools ***************/
/* line 130, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools {
  padding: 1em;
  margin: 0 -20px 0 0;
  border-bottom: 1px solid #e8ebed;
  font-size: 11px;
  text-align: right;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fafafa), color-stop(25%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -moz-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -o-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: -ms-linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
  background-image: linear-gradient(bottom, #fafafa, #ffffff 25%, #ffffff);
}
/* line 142, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools .button {
  background: transparent;
  border: none;
  color: #7692a3;
  text-shadow: none;
}
/* line 148, ../../../unisubs-design/sass/v1.scss */
.v1 .view .tools .button:hover {
  background: #a0b2bd;
  color: #fff;
}

/*************** @Listings ***************/
/* line 164, ../../../unisubs-design/sass/v1.scss */
.v1 .listing {
  padding: 0;
}
/* line 167, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li {
  position: relative;
  padding: 2em 1em;
  border-bottom: 1px dotted #b7c3c9;
}
/* line 172, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li h3 {
  position: relative;
  font-size: 13px;
  padding-bottom: 5px;
}
/* line 177, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li h3 a {
  text-decoration: none;
}
/* line 180, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li h3 a:hover {
  border-width: 0 0 1px 0;
  border-style: dotted;
}
/* line 187, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .thumb {
  position: absolute;
  top: 2em;
  left: 0;
}
/* line 191, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .thumb img {
  border: 1px solid #b7c3c9;
}
/* line 196, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions {
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
  padding: 0;
}
/* line 199, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions li {
  padding: 0;
  text-align: right;
  color: #7692a3;
}
/* line 205, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions a {
  color: #486f87;
  text-decoration: none;
}
/* line 210, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions li > a {
  display: block;
  padding: .5em 0;
}
/* line 214, ../../../unisubs-design/sass/v1.scss */
.v1 .listing > li .actions li > a:after {
  content: ' →';
}

/* line 222, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.videos > li {
  min-height: 5em;
  padding-left: 120px;
  padding-right: 150px;
}
/* line 227, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.videos > li .thumb {
  width: 100px;
  height: 60px;
}
/* line 231, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.videos > li .thumb img {
  height: 60px;
}

/* line 237, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.members > li {
  min-height: 4em;
  padding-left: 65px;
  padding-right: 150px;
}
/* line 242, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.members > li .thumb {
  width: 45px;
  height: 45px;
}
/* line 246, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.members > li .thumb img {
  height: 45px;
}

/* line 252, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.activity > li {
  padding-right: 150px;
}
/* line 255, ../../../unisubs-design/sass/v1.scss */
.v1 .listing.activity > li .timestamp {
  position: absolute;
  top: 2em;
  right: 0;
  width: 120px;
  padding: 0;
  width: 150px;
  text-align: right;
  color: #7692a3;
}

/*************** @Controls ***************/
/* line 265, ../../../unisubs-design/sass/v1.scss */
.v1 .controls {
  width: 199px;
  padding-left: 20px;
  padding-bottom: 4em;
  border-left: 1px solid #dce2e5;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f5f5f5), color-stop(5%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -moz-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -o-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: -ms-linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
  background-image: linear-gradient(left, #f5f5f5, #ffffff 5%, #ffffff);
}
/* line 277, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul {
  padding: 0;
  margin: 2em 0 3em;
}
/* line 281, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li {
  padding: 0;
}
/* line 285, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li a {
  position: relative;
  display: block;
  padding: .75em 0 .75em 20px;
  margin-left: -20px;
  margin-bottom: .5em;
  text-decoration: none;
  color: #678ca3;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 295, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li a:hover {
  background-color: #f9fafb;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e8ecee), color-stop(5%, #f3f6f6), color-stop(100%, #f3f6f6));
  background-image: -webkit-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -moz-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -o-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: -ms-linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
  background-image: linear-gradient(left, #e8ecee, #f3f6f6 5%, #f3f6f6);
}
/* line 304, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li a span {
  position: absolute;
  top: .75em;
  right: .75em;
  color: #a0b2bd;
}
/* line 311, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li.current a {
  background-color: #edf1f2;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e2e8e9), color-stop(5%, #edf1f2), color-stop(100%, #edf1f2));
  background-image: -webkit-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -moz-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -o-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: -ms-linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  background-image: linear-gradient(left, #e2e8e9, #edf1f2 5%, #edf1f2);
  color: #486f87;
}
/* line 320, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li.current a:hover {
  background-color: #e8ecee;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #dce3e5), color-stop(5%, #e8ecee), color-stop(100%, #e8ecee));
  background-image: -webkit-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -moz-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -o-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: -ms-linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
  background-image: linear-gradient(left, #dce3e5, #e8ecee 5%, #e8ecee);
}
/* line 329, ../../../unisubs-design/sass/v1.scss */
.v1 .controls ul li.current a span {
  color: #7692a3;
}

/*************** @Forms ***************/
/* line 343, ../../../unisubs-design/sass/v1.scss */
.v1 form {
  padding: 1em 0;
}
/* line 346, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset {
  padding-bottom: 2em;
}
/* line 349, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset legend {
  font-weight: bold;
  padding-bottom: .5em;
}
/* line 354, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input, .v1 form fieldset textarea {
  padding: 4px;
}
/* line 358, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset label {
  display: block;
  width: 100%;
  padding-top: 2em;
}
/* line 363, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input[type="text"], .v1 form fieldset textarea {
  display: block;
  width: 100%;
  border: 1px solid #b7c3c9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 369, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input[type='checkbox'] {
  margin: 0 4px 0 0;
}
/* line 373, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset input[type='file'] {
  display: block;
  width: 100%;
  padding: 0;
}
/* line 378, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset select {
  padding: 4px;
  width: 100%;
}
/* line 383, ../../../unisubs-design/sass/v1.scss */
.v1 form fieldset textarea {
  height: 5em;
}

/* line 390, ../../../unisubs-design/sass/v1.scss */
.v1 form.workflow {
  margin-top: -3em;
}
/* line 393, ../../../unisubs-design/sass/v1.scss */
.v1 form.workflow fieldset {
  padding: 0 1em;
  background: #dce2e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 398, ../../../unisubs-design/sass/v1.scss */
.v1 form.workflow fieldset .button {
  margin-top: 2em;
}

/* line 404, ../../../unisubs-design/sass/v1.scss */
.v1 .alpha .omega {
  margin-left: 60px;
}

/* line 408, ../../../unisubs-design/sass/v1.scss */
.v1 div.submit {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #dce2e5;
  text-align: right;
}
/* line 414, ../../../unisubs-design/sass/v1.scss */
.v1 div.submit input {
  padding: 4px;
}

/*************** @Dashboard ***************/
/* line 421, ../../../unisubs-design/sass/v1.scss */
.v1.dashboard h2 {
  margin: 0;
  padding-bottom: .5em;
}

/* line 426, ../../../unisubs-design/sass/v1.scss */
.v1.dashboard .row {
  clear: both;
  margin: 2em 0 0;
}
