<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>arthur debert</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.plugins.jabber.user.JabberUserProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>YnNDol:86cd400b96a1cd2b586ae093ee6eee2a5922a3d6d93db9c64cf491da1e62e820</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>arthur@stimuli.com.br</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>