{% load i18n teams_tags %}

{% if team|is_team_member:user %}
    {% render_team_leave team %}
{% else %}
    {% if team.is_open %}
        {% render_team_join team %}
    {% endif %}
    {% if user.is_authenticated and team.is_by_application %}
        {% if not team|has_applicant:user %}
            {% include "teams/_application_form.html" %}
         {% else %}
            Your're application is being reviewed, thank you.
         {% endif %}
    {% endif %}
{% endif %} 
  

<p class="notation">{% trans "Want to create your own captioning and translation team? Contact Dean Jansen" %}, <a href="mailto:dean@pculture.org">dean@pculture.org</a></p>
