{% load i18n %}

<p>
    <a class="join-team-by-application button primary" data-modal="application-form-container" href="#">{% trans "Apply to Join" %}</a>
</p>

<div id="application-form-container" style="display: none" class="modal-window-container modal-window-bg">
    <h2>{% trans "Apply to" %} "{{ team }}"</h2>
    <div class="form-container">
        <div class="message">
            {% if team.application_text %}
                {{ team.application_text|linebreaksbr|urlize }}
            {% else %}
                <h3>{% trans "Language skill" %}</h3>  
                <p>
                    {% blocktrans %}
                        No formal language training is required to translate for {{ team }}. But we do ask that all translators are confident in their translation abilities. Please make sure your profile has your language
                    {% endblocktrans %}
                    <a href="{% url profiles:edit %}">{% trans "proficiency" %}</a> {% trans "specified" %}.
                </p>

                <h3>Time commitment</h3>
                <p>
                    {% blocktrans %}
                        We request that each new applicant does at least one full set of subtitles within the first week of joining. Aside from that, it’s up to you!
                    {% endblocktrans %}
                </p>
            {% endif %}
        </div>
        <div class="form">
            <h3>{% trans "About you" %}</h3>
            <p>
                {% blocktrans %}
                    Tell us a little bit about yourself and why you’re interested in translating with {{ team }}. This should be 3-5 sentences, no longer!
                {% endblocktrans %}
            </p>
            <textarea></textarea>
            <button team_id="{{ team.pk }}">{% trans "Submit Application" %}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
        $('#application-form-container button').click(function(){
            var $t = $('#application-form-container textarea');
        TeamsApi.create_application($(this).attr('team_id'), $t.val(), function(response){
                if (response.error){
                    $.jGrowl.error(response.error);
                }else{
                    $.jGrowl(response.msg);
                    $t.val('');
                    $('.join-team-by-application').remove();
                    $('#application-form-container').modClose();
                }                
            });
            return false;
        });  
</script>
