{% load i18n teams_tags %}

<ul>

	{% comment %}
		TODO: If no role is selected, then this LI should have a class of "current"
	{% endcomment %}

    <li>
    	<a href="{% url teams:detail_members team.slug %}">All Members</a>
    </li>

    {% comment %}
		TODO: For each role, if selected, LI should have a class of "current"
		TODO: Need working links for role filters
	{% endcomment %}

    <li>
    	<a href="">Admins</a>
    </li>

    <li>
    	<a href="">Managers</a>
    </li>

    <li>
    	<a href="">Contributors</a>
    </li>

    {% comment %}
        Let's wrap this in a conditional so that only admins/owners can see it
    {% endcomment %}
    <li>
      <a href="{% url teams:applications slug=team.slug %}"> 
        Applicants <span>{{team.applications.all.count }}</span>
        </a>
    </li>
</ul>
