{% load i18n teams_tags %}

<div class="team-detail-block">
    {% if team|is_team_member:user %}
        {% render_team_leave team %}
        <p style="clear: both; padding-top: 10px;">
            <a href="{% url teams:settings slug=team.slug %}" class="your-team">{% trans "Manager's Settings & Controls" %}</a><br/>
        </p>
    {% else %}
        {% if team.is_open %}
            {% render_team_join team %}
        {% endif %}
        {% if user.is_authenticated and team.is_by_application %}
            {% include "teams/_application_form.html" %}
        {% endif %}
    {% endif %} 
    {% if not team.video %}
     {% if team.logo %}
      <div class="team_logo">
        <img alt="{{ team }}" title="{{ team }}" src="{{ team.logo_thumbnail }}"/>
      </div>
      {% endif %}
    {% endif %}
    <p>
        <a href="{% url teams:detail_members team.slug %}">{% trans "Team Members" %} ({{ team.member_count }})</a>
    </p>
    {% if on_completed_video_page %}
    <p>
        <a href="{{ team.get_absolute_url }}">{% trans "Team Page" %}</a>            
    </p>
    {% else %}
    <p>
        <a href="{% url teams:completed_videos team.slug %}">{% trans "Completed Videos" %}</a>            
    </p>    
    {% endif %}
    {% if team.description %}
    <h4>{% trans 'Team Description' %}</h4>
    <p>
        {{ team.description|urlize }}
    </p>
    {% endif %}
    <h4>{% trans 'Team Managers' %}</h4>
    <p>
        {% for item in team.members.managers %}
            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <h4>{% trans 'Video Policy' %}</h4>
    <p>
        {{ team.get_video_policy_display }}
    </p>
    <h4>{% trans 'Membership Policy' %}</h4>
    <p>
       {{ team.get_membership_policy_display }}
    </p>
</div><!-- // team-detail -->

<p class="notice">Want to create your own captioning and translation team? Contact Dean Jansen, <a href="mailto:dean@pculture.org">dean@pculture.org</a></p>
