{% extends "teams/base.html" %}

{% load i18n teams_tags widget media_compressor %}

{% block title %}
    {% trans 'Team video' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
     {% include_bundle "widget-css"%}
{% endblock %}

{% block view_content %}

    {% with "videos" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <form method='post' action="." enctype="multipart/form-data" class="add-video">
            <h3>{% trans 'Add video' %}</h3>
            <div class="grid_4 alpha">
                <fieldset>
                    {% include "_form_field.html" with field=form.video_url %}
                    {% include "_form_field.html" with field=form.title %}
                    {% include "_form_field.html" with field=form.description %}
                </fieldset>
            </div>

            <div class="grid_4 omega">
                <fieldset>
                    {% include "_form_field.html" with field=form.language %}
                    {% include "_form_field.html" with field=form.project %}
                    {% include "_form_field.html" with field=form.thumbnail %}
                </fieldset>
            </div>

            <div class="grid_9 submit">
                <button>{% trans 'Save' %}</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="controls grid_3 omega">
        <ul>
            <li class="current">
                <a href="{% url teams:add_video slug=team.slug %}">{% trans "Add a Video" %}</a>
            </li>
            <li>
                <a href="{% url teams:add_videos slug=team.slug %}">{% trans "Add Multiple Videos" %}</a>
            </li>
            <li>
                <a href="{{ team.get_absolute_url }}">← {% trans "Back to Videos" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}
