{% extends "teams/base.html" %}

{% load i18n teams_tags paginator %}

{% block title %}
    {{ team }} {% trans 'Team Aplications' %} | Universal Subtitles
{% endblock %}

{% block view_content %}

    {% with "members" as current %}
        {% include 'teams/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha">

        {% if applications_list %}
            {% if is_paginated %}{% paginator %}{% endif %}
            <ul class="members listing">
                {% for item in applications_list %}
                    <li>
                        <h3>
                            <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
                            {% for lang in item.user.get_languages %}
                                <span class="descriptor">{{ lang.get_language_display }}</span>
                            {% endfor %}
                        </h3>
                        <p>
                        {% if item.note %}
                            {{ item.note|truncatewords:15|urlize }}
                        {% endif %}
                        </p>
                        <a href="{{ item.user.get_absolute_url }}" class="thumb"><img src="{{ item.user.avatar }}" alt="{{ item.user }} avatar"></a>
                        {% if team|can_approve_application:user %}
                            <ul class="actions">
                                <li>
                                    <a href="{% url teams:approve_application team.slug item.user.pk %}">{% trans 'Approve' %}</a>
                                </li>
                                <li>
                                    <a href="{% url teams:deny_application team.slug item.user.pk %}">{% trans 'Deny' %}</a>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "There are no applications right now" %}...</p>
        {% endif %}
    </div>

    <div class="controls grid_3 omega">
        {% with "applicants" as current %}
            {% include "teams/_filters_members.html" %}
        {% endwith %}
        {% include "teams/_actions.html" %}
    </div>
    
{% endblock %}