{% extends "teams/base.html" %}

{% load i18n teams_tags paginator widget media_compressor verbatim_templatetag %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block css %}
    {{ block.super }}
     {% include_bundle "widget-css"%}
     {% include_bundle "css-teams-settings-panel"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% if assignable_roles %}
        {% include_bundle "js-teams-settings-panel" %}
    {% endif %}
    {% include_bundle "unisubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>  
{% endblock %}

{% block view_content %}

    {% with "members" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    {% if team.video %}
        {% widget widget_params %}
    {% endif %}    

    <div class="view grid_9 alpha">

        {% if team|can_invite_to_team:user %}
            <div class="tools">
                <ul class="filters">
                    <li>
                        <select name="lang-filter" id="lang-filter">
                            <option value="all">All languages</option>
                            <option value="en">English</option>
                        </select>
                    </li>
                </ul>
                <a href="{% url teams:invite_members slug=team.slug %}" class="button">Invite Members</a>
            </div>
        {% endif %}
        {% if is_paginated %}{% paginator %}{% endif %}
        <ul class="members listing">
            {% for member in team_member_list %}
            {% with member.pk as mpk%}
            <li>
                <h3>
                    <a href="{{ member.user.get_absolute_url }}">
                        {{ member.user }}
                        {% if member.user == user %}(You){% endif %}
                    </a>
                    {% for lang in member.user.get_languages %}
                        <span class="descriptor">{{ lang.get_language_display }}</span>
                    {% endfor %}
                </h3>
                <p>
                  {{ member.role|capfirst }}
                  
                    {% member_projects member as member_project %}
                    {% if member_project %}
                        (
                        {% for project in member_project %}
                            {{project.name}}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        )
                    {% endif %}
                </p>
                <a href="{{ member.user.get_absolute_url }}" class="thumb"><img src="{{ member.user.avatar }}" alt="{{ member.user }} avatar"></a>
                <ul class="actions">
                    <li>
                        <a href="">Send a message</a>
                    </li>
                </ul>
                {% if can_assign_roles %}
                  <ul class="admin-controls">
                    <li>
                      <input type="checkbox"/>
                    </li>
                    {% if member in assignable_roles%}
                      <li>
                        <a class="edit-role" data-team-slug="{{team.slug}}" data-member-pk="{{member.pk}}" >Edit</a>
                      </li>
                    {% endif %}
                  </ul>
                {% endif %}
            </li>
            {% endwith %}
            {% endfor %}
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>

    <div class="controls grid_3 omega">
        <form class="search"><fieldset><input type="text" value="Search..."/></fieldset></form>
        {% include "teams/_filters_members.html" %}
        {% include "teams/_actions.html" %}
    </div>

{% if assignable_roles %}
    
<script id="editRoleDialog" type="text/html">
  {% verbatim %}
  <div>
    <a class="close">X</a>
    <label>Role:</label>
    <select class="roles">
      {{#roles}}
      <option val="{{val}}">{{name}}</option>
      {{/roles}}
      </select>
    <div class="clearfix"></div>
    <label>Project Restriction:</label>
      <select data-placeholder="Choose-selected..." style="width:350px;" 
              multiple class="chzn-select projects">
      {{#projects}}
          <option {{#selected}}selected="selected"{{/selected}} value="{{pk}}">{{name}}</option>
      {{/projects}}
      </select>
    
    <div class="clearfix"></div>
    <label>Language Restriction:</label>
      <select data-placeholder="Choose-selected..." style="width:350px;" 
              multiple class="chzn-select langs">
      {{#languages}}
          <option {{#selected}}selected="selected"{{/selected}} value="{{code}}">{{name}}</option>
      {{/languages}}
      </select>
    
    <div class="clearfix">
      <a class="button small action-close" > Cancel</a>
      <a class="button small action-save" > Save</a>
    </div>
    </div>
{% endverbatim %}
</script>
<script type="text/javascript" >
  {% include "teams/assign-roles.js" %}
</script>    

{% endif %}
{% endblock %}
