{% extends "teams/base.html" %}

{% load i18n teams_tags paginator profiles_tags widget markup media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};

        $(document).ready(function(){
            jQuery("select", ".filters").chosen();

            jQuery(":checkbox", ".admin-controls").bind('change', function(){
                var menu = jQuery(this).parents('.admin-controls');
                if(jQuery(this).attr('checked')) {
                    menu.addClass('selected');
                } else {
                    menu.removeClass('selected');
                }
            });
        });
    </script>
{% endblock %}

{% block select_language_dialog %}
	{% select_language_dialog %}
{% endblock %}

{% block view_content %}

    {% with "videos" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="view grid_9 alpha">
        {% if team|can_add_video_to_team:user %}
            <div class="tools">
                <ul class="filters">
                    <li>
                        <select name="lang-filter" id="lang-filter">
                            <option value="all">All languages</option>
                            <option value="en">English</option>
                        </select>
                    </li>
                </ul>
                <a href="{% url teams:add_video team.slug %}" class="button">{% trans "Add Videos" %}</a>
            </div>
        {% endif %}

        {% if not team.page_content and team.video %}
            {% widget widget_params %}
        {% endif %}
        
        {% if team_video_md_list %}
            <ul class="videos listing">
                {% for md_obj in team_video_md_list %}
                    {% team_video_detail md_obj %}
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "Sorry, no videos here" %}...</p>
        {% endif %}
    </div>

    <div class="controls grid_3 omega">
        <form class="search"><fieldset><input type="text" value="Search..."/></fieldset></form>
        {% include "teams/_filters_videos.html" %}
        {% include "teams/_actions.html" %}
    </div>

{% endblock %}
