{% extends "base.html" %}

{% load i18n teams_tags paginator widget media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block css %}
    {{ block.super }}
     {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
     {% if assignable_roles %}
          
        {% include_bundle "js-teams-settings-panel" %}
{% endif %}
    {% include_bundle "unisubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>     
    
{% endblock %}

{% block main_content %}

    {% if team.logo %}
        <img class="logo" alt="{{ team }} logo" src="{{ MEDIA_URL }}{{ team.logo }}"/>
    {% else %}
        <h2 id="team_title">{{ team }}</h2>
    {% endif %}

    {% with "members" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    {% if team.video %}
        {% widget widget_params %}
    {% endif %}    

    <div class="view grid_9 alpha">

        {% if team|can_invite_to_team:user %}
            <div class="tools">
                <a href="#" class="button">Invite Members</a>
            </div>
        {% endif %}
        {% if is_paginated %}{% paginator %}{% endif %}
        <ul class="members listing">
            {% for member in team_member_list %}
            {% with member.pk as mpk%}
            <li>
                <h3>
                    <a href="{{ member.user.get_absolute_url }}">
                        {{ member.user }}
                        {% if member.user == user %}(You){% endif %}
                    </a>
                    {% for lang in member.user.get_languages %}
                        <span class="descriptor">{{ lang.get_language_display }}</span>
                    {% endfor %}
                </h3>
                <p>
                  {{ member.role|capfirst }} {% if member in assignable_roles%} 
                  <a class="button edit-role" data-team-slug="{{team.slug}}" data-member-pk="{{member.pk}}" >Edit ME</a>{%endif%}
                  
                    {% member_projects member as member_project %}
                    {% if member_project %}
                        (
                        {% for project in member_project %}
                            {{project.name}}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        )
                    {% endif %}
                </p>
                <a href="{{ member.user.get_absolute_url }}" class="thumb"><img src="{{ member.user.avatar }}" alt="{{ member.user }} avatar"></a>
                <ul class="actions">
                    <li>
                        <a href="">Send a message</a>
                    </li>
                      
                </ul>
            </li>
            {% endwith %}
            {% endfor %}
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>

    <div class="controls grid_3 omega">
        <form><fieldset><input type="text" value="Search..."/></fieldset></form>
        {% include "teams/_filters_members.html" %}
        {% include "teams/_actions.html" %}
    </div>

{% if assignable_roles %}
    
<script id="editRoleDialog" type="text/html">
  <div>
    <a class="close">X</a>
    <label>Role:</label>
    <select class="roles">
      
      </select>
    <div class="clearfix"></div>
    <label>Project Restriction:</label>
    <ul class="projects">
      </ul>
    
    <div class="clearfix"></div>
    <label>Language Restriction:</label>
    <ul class="langs">
      </ul>
    
    <div class="clearfix"></div>
    </div>
</script>
<script type="text/javascript" >
  {% include "teams/assign-roles.js" %}
</script>    
{% endif %}
{% endblock %}
