{% extends "base.html" %}

{% load i18n teams_tags paginator profiles_tags widget markup media_compressor %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-onsite-compiled" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
    <script type="text/javascript">
        var GLOBAL_WIDGET_SETTINGS = {{ general_settings|safe }};
    </script>
{% endblock %}

{% block select_language_dialog %}
	{% select_language_dialog %}
{% endblock %}

{% block main_content %}

    {% if team.logo %}
        <img class="logo" alt="{{ team }} logo" src="{{ MEDIA_URL }}{{ team.logo }}"/>
    {% else %}
        <h2 id="team_title">{{ team }}</h2>
    {% endif %}

    {% with "videos" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <div class="tools">
            <a href="{% url teams:add_video team.slug %}" class="button">{% trans "Add Videos" %}</a>
        </div>

        {% if not team.page_content and team.video %}
            {% widget widget_params %}
        {% endif %}
        
        {% if team_video_md_list %}
            <ul class="videos listing">
                {% for md_obj in team_video_md_list %}
                    <li>
                        {% team_video_detail md_obj %}
                    </li>
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "Sorry, no videos here" %}...</p>
        {% endif %}
    </div>

    <div class="controls grid_3 omega">
        {% include "teams/_filters_videos.html" %}
        
    </div>

{% endblock %}
