{% extends "settings.html" %}

{% load i18n teams_tags paginator messages_tags %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {{ team }} {% trans 'Team Members' %} | Universal Subtitles
{% endblock %}

{% block scripts %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script> 
    <script src="{% url messages:rpc_api %}" type="text/javascript"></script> 
    <script type="text/javascript">
        jQuery(function($){
            var TEAM_ID = '{{ team.pk }}';
            var INVITE_URL = '{% url teams:invite %}';
            
            $('a.invite-button').click(function(){
                var username = $('.username-invite-field').val();
                if (username){
                    $.post(INVITE_URL, {
                        username: username,
                        team_id: TEAM_ID,
                        note: $('.user-invite-note').val()
                    }, function(response){
                        if (response.error){
                            $('.invite-user-error').html(response.error).show();
                        }else{
                            $.jGrowl('User was invited. Wait for confirmation.')
                            $('.invite-user-error').html('').hide();
                            $('#invite-user').modClose();
                            $('.username-invite-field, .user-invite-note').val('');
                        }
                    }, 'json');
                }else{
                    $('.invite-user-error').html('{% trans "Enter username." %}').show();
                }
            });
            
            $('a.remove-user').click(function(){
                if (confirm('{% trans "Remove this user?" %}')){
                    var $user_container = $(this).parents('.user-container');
                    $.post($(this).attr('href'), {}, function(response){
                        if (response.success){
                            $user_container.remove();
                        }else{
                            alert(response.error);
                        }
                    }, 'json');
                }
                return false;
            });

            $(".role-changer").change(function(){
                $this = $(this);
                TeamsApi.promote_user($this.attr('team_id'), $this.attr('member_id'), $this.val(),
                    function(response){
                        if (response.error){
                            $this.val($this.attr('role'));
                            jQuery.jGrowl.error(response.error);
                        }else{
                            $this.attr('role', $this.val());
                            jQuery.jGrowl(response.msg);
                        }
                    });
            });
        });
    </script>
{% endblock %}

{% block settings_content %}
    <div class="hd">
        <h2>{{ team.name }}</h2>
        {% with "members" as active %}
            {% include 'teams/_edit_top_navigation.html' %}
        {% endwith %}
    </div>
    <div class="actions">
        {% if team|can_invite_to_team:user %}
            <a href="#" data-modal="invite-user" class="blue_button small">{% trans 'Invite User' %}</a>
        {% endif %}
        {% if team|is_team_manager:user %}
            {% send_to_team_message_form team %}
        {% endif %}
    </div>
    
    {% if is_paginated %}{% paginator %}{% endif %}
    <table>
        <thead>
            <tr>
                <th>
                    {% ordered_column "username" _("Username") %}
                </th>
                <th>
                    {% ordered_column "role" _("Role") %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for member in members_list %}
            <tr class="user-container">
                <td>
                    <a href="{{ member.user.get_absolute_url }}" class="thumbnail_small">
                        <img src="{{ member.user.small_avatar }}"/>
                    </a>
                    <a href="{{ member.user.get_absolute_url }}"><strong>{{ member.user }}</strong></a>
                    <div class="small grey">
                        {% if team|is_team_manager:user and not member.user == user %}
                            <a href="{% url teams:remove_member team.slug member.user.pk %}" class="remove-user">
                                {% trans 'Remove from Team' %}
                            </a> |
                        {% endif %}
                        {% if not member.user == user and member.user.email %}
                            {% send_message_form member.user 'True' %}
                        {% endif %}
                    </div>
                </td>
                <td>
                    {% if team|is_team_manager:user and not member.user == user %}
                        <select name="role" role="member.role" class="role-changer" member_id="{{ member.pk }}" team_id="{{ team.pk }}">
                            {% for choice in role_choices %}
                                <option {% ifequal choice.0  member.role %}selected="selected" {% endifequal %} value="{{choice.0}}">{{choice.1}}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {% trans member.role %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if team|can_invite_to_team:user %}
<div id="invite-user" class="msg_modal_wrap" style="display: none">
    <a href="#close" class="close">{% trans "Close" %}</a>
    <div class="msg_modal">
        <h3><span>{% trans 'Invite user' %}</span></h3>
        <p class="invite-user-error" style="display: none; color: #ff8080;"></p>
        <label>{% trans 'Username' %}</label>
        <input type="text" style="margin: 10px;" class="username-invite-field"/>
        <br/>
        <label>{% trans 'Message' %}</label>
        <textarea class="user-invite-note"></textarea>
        <div class="action_buttons" style="border-top: none;">     
            <a class="blue_button small invite-button">{% trans 'Invite User' %}</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block sidebar_content %}
    <div class="help">
        <h3>{% trans "About Roles" %}</h3>
        <p>
            {% blocktrans %}
                <strong>Manager:</strong> Can access all administrative functions including managing team members and approving moderated subtitles.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                <strong>Member:</strong> Trusted members may add approved subtitles to a moderated video without review by the team manager.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                <strong>Contributor:</strong> Can access team videos and contribute subtitles, but their work is subject to moderation by a manager.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
