{% extends "base.html" %}

{% load paginator i18n teams_tags %}

{% block title %}
    {% if my_teams %}{% trans 'My Teams' %}{% else %}{% trans 'Teams' %}{% endif %}| Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>  
{% endblock %}

{% block main_content %}

    <h2>{% trans 'Team Directory' %}</h2>

    <ul class="tabs">
        <li{% if not my_teams %} class="current"{% endif %}>
            <a href="{% url teams:index %}">
                {% trans "All Teams" %}
            </a>
        </li>
        {% if user.teams.exists %}
            <li{% if my_teams %} class="current"{% endif %}>
                <a href="{% url teams:user_teams %}">
                    {% trans "My Teams" %}
                </a>
            </li>
        {% endif %}
    </ul>

    <div class="view grid_9 alpha">
        <div class="tools">
            <div class="sort_button">
                <div class="arrow">
                </div>
                <span class="sort_label">{% trans 'Sort by' %} <strong>{{ order_name }}</strong></span>
                <ul>
                    <li>
                        <a href="{% url teams:index %}?o=members{% if query %}&q={{ query|urlencode }}{% endif %}" data-remote="true" class="first">{% trans 'Most Members' %}</a>
                    </li>
                    <li>
                        <a href="{% url teams:index %}?o=date{% if query %}&q={{ query|urlencode }}{% endif %}" data-remote="true">{% trans 'Newest' %}</a>
                    </li>
                    <li>
                        <a href="{% url teams:index %}?o=name{% if query %}&q={{ query|urlencode }}{% endif %}" data-remote="true">{% trans 'Name' %}</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url teams:user_teams %}" data-remote="true" class="last">{% trans 'My teams' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if is_paginated %}{% paginator %}{% endif %}
            <ul class="listing teams">
                {% for team in teams_list %}
                <li>
                    <h3>
                        <a href="{{ team.get_absolute_url }}">{{ team }}</a>
                        {% if team|is_team_member:user and not my_teams %} 
                            <span class="descriptor">{% trans 'My team' %}</span>
                        {% endif %}
                        {% if not team.is_visible %}
                            <span class="descriptor">{% trans 'Private' %}</span>
                        {% endif %}
                    </h3>
                    <p>
                        {% if team.description %}
                            {{ team.description|truncatewords:20|urlize }}
                        {% else %}
                            {{ team.videos_count }} videos
                        {% endif %}
                    </p>
                    {% if team.logo %}
                        <a href="{{ team.get_absolute_url }}" class="thumb">
                            <img src="{{ team.logo_thumbnail }}" alt="{{ team }} logo"/>
                        </a>
                    {% endif %}
                    <ul class="actions">
                        <li>
                            <h4>
                            {% blocktrans count count=team.member_count %}
                                {{ count }} member
                            {% plural %}
                                {{ count }} members
                            {% endblocktrans %}
                            </h4>
                        </li>
                        <li>
                            {% if team|is_team_member:user %}
                                <a href="">Leave team</a>
                            {% else %}
                                {% if user.is_authenticated %}
                                    {% if team.is_open %}
                                        <a href="">Join team</a>
                                    {% endif %}
                                    {% if team.is_by_application %}
                                        {% if not team|has_applicant:user %}
                                            <a href="">Apply to join</a>
                                        {% else %}
                                            Your application is pending
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %} 
                        </li>
                    </ul>

                {% comment %}
                        <div class="buttons-container">
                            {% if user.is_staff and perms.teams.change_team %}
                                {% if team.highlight %}
                                    <a href="{% url teams:unhighlight team.slug %}" class="blue_button small">{% trans 'Un-highlight this team' %}</a>
                                {% else %}
                                    <a href="{% url teams:highlight team.slug %}" class="blue_button small">{% trans 'Highlight this team' %}</a>
                                {% endif %}
                            {% endif %}
                            {% if team|is_team_member:user and team|is_team_manager:user%}
                                <a href="{% url teams:settings slug=team.slug %}" class="blue_button small">{% trans 'Edit' %}</a>
                            {% endif %}
                            {% if team|is_team_member:user %}
                                {% render_team_leave team %}
                            {% else %}
                                {% if team.is_open %}
                                    {% render_team_join team "small" %}
                                {% endif %}
                            {% endif %}  
                        </div>{% endcomment %}       
                </li>
                {% endfor %}
            </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>
    <div class="controls grid_3 omega">
        <form action="." class="search">
            <fieldset>
                <input type="text" name="q" value="{{ query|default:'Search...' }}"/>
            </fieldset>
        </form>
        
        {% if user.is_superuser and user.is_active %}
            <a href="{% url teams:create %}" class="button primary start_team">{% trans 'Start a Team' %}</a>
        {% endif %}
        
        <p class="notation">Want to create your own captioning and translation team? Contact Dean Jansen, <a href="mailto:dean@pculture.org">dean@pculture.org</a></p>
    </div>
{% endblock %}