{% extends "base.html" %}

{% block main_content %}
<h1>{{team}}}</h1>

<ul>
  {% for project in projects %}
  <li><a href="{% url teams:project_video_list slug=team.slug,project_slug=project.slug %}">{{project.name}}</a><p>{{project.description}}</p> {{project.teamvideo_set.count}} videos</li>
                                                                                                               
  {% endfor %}                                                                                                              
</ul>

{% endblock %}
