{% extends "base.html" %}
{% load i18n teams_tags paginator doorman media_compressor verbatim_templatetag %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(function($){
            $('#id_logo').change(function(){
                $('.edit-team').ajaxSubmit({
                    url: '{% url teams:edit_logo team.slug %}',
                    dataType: 'json',
                    success: function(response){
                        if (response.error){
                            $('#logo-errors').html('<ul class="errorlist"><li>'+response.error.logo+'</li></ul>');
                        }else{
                            $('#logo-errors').html('');  
                            $('.team-logo').attr('src', response.url);
                        }
                    },
                    beforeSubmit: function(arr, $form, options) { 
                        $('#logo-errors').html('Saving...');            
                    }                    
                });
            });            
        });
    </script>
 {% include_bundle "js-teams-settings-panel" 0 %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
{% endblock %}



{% block body_attrs %}class="new-teams"{% endblock %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Universal Subtitles
{% endblock %}

{% block main_content %}
    <div class="hd">
        <h2>{{ team.name }}</h2>
        {% with "settings" as active %}
            {% include 'teams/_edit_top_navigation.html' %}
        {% endwith %}
    </div>

    <div class="panel-holder grid_9 alpha">
      <div class="tab panel-projects" style="display:none">
      </div>
      {% include "teams/_basic_settings.html" %}

    </div>

    <div class=" grid_3 omega ">
      <ul class="view-filter sub-settings-panel">
      </ul>
    </div>
      
    
<script>
$(window).load(function(){
    //findme
    {% include "teams/settings-panel.js" %}
});
</script>

<!-- templates -->
<script id="IMAGE_PRELOADER" type="text/html">
  <img  width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
</script>
{% comment %}  Whatever is inside the verbatim tag does not run through
django's var subtitution, so the final template is render as it's written bellow.
This is needed, since it's for the js templating
{% endcomment %}
{% verbatim %}

<script id="subMenuItem" type="text/html">
  <li><a >{{label}}</a></li>
</script>

<script id="projectPanel" type="text/html">
  <div class="panel-project">
    <a  class="button project-add">Add Project</a>
    <ul class="projects listing">
    </ul>
  </div>
</script>

<script id="projectEditPanel" type="text/html">
  <div class="project-edit-panel modal-window-bg">
    <form action="#">
      <label for="name">Name</label>
      <input type="text" name="name" value="{{name}}"/>
      
      <label for="name">Description</label>
      <textarea  name="description">{{description}}</textarea>
      <input type="hidden" value='{{pk}}' name="pk"/>  
      <input type="hidden" value='{{order}}' name="order"/>  
      <input type="hidden" value='{{slug}}' name="slug"/>  
      <a class="red_button project-delete">Delete</a>a
      <a class="blue_button project-save">Save</a>
    </form>
  </div>
</script>

<script id="projectListItem" type="text/html">
  <li>
    <p>{{name}}</p>
    <ul class="actions">
      <li>
        <a class="action-edit" href="#">Edit</a>
      </li>
    </ul>
  </li>
</script>

<script id="tasksLanguagesList" type="text/html">
    <select id="id_task_language" name="language">
        <option value="">All Languages</option>
    </select>
</script>
<script id="tasksLanguagesListOption" type="text/html">
    <option value="{{ language }}">{{ language_display }}</option>
</script>
<script id="tasksTypesList" type="text/html">
    <ul class="types">
        <li class="type selected">
            All Pending
            <input type="hidden" name="type" value="" />
        </li>
        <li class="type">
            Review
            <input type="hidden" name="type" value="Review" />
        </li>
        <li class="type">
            Approve
            <input type="hidden" name="type" value="Approve" />
        </li>
        <li class="type">
            Translate
            <input type="hidden" name="type" value="Translate" />
        </li>
        <li class="type">
            Subtitle
            <input type="hidden" name="type" value="Subtitle" />
        </li>
    </ul>
</script>
<script id="tasksListItem" type="text/html">
    <p>
        <a href="{{ teamVideoUrl }}">{{ teamVideoDisplay }}</a>
        <br/>
        <span>
            {{ #languageDisplay}}
                {{ languageDisplay }} subtitles
            {{ /languageDisplay}}

            {{ ^languageDisplay}}
                Transcription Needed
            {{ /languageDisplay}}
        </span>
        <br/>
        <span class="assignee">
            {{ #assigneeDisplay }}
                Assigned to {{ assigneeDisplay }}
            {{ /assigneeDisplay }}

            {{ ^assigneeDisplay }}
                Unassigned
            {{ /assigneeDisplay }}
        </span>
    </p>
    <p class="done">
        {{ #steps }}
            {{ #done }}
                &#x2611;
            {{ /done }}
            {{ ^done }}
                &#x2610;
            {{ /done }}
        {{ /steps }}

        {{ stepDisplay }}
    </p>
    <ul class="actions">
        <li>
            {{ #assignAllowed }}
                <form action="" method="post">
                    <a class="action-assign" href="#">Assign</a>
                    <div class="assignee-choice" style="display: none;">
                        {% endverbatim %}
                            {{ assign_form.assignee }}
                        {% verbatim %}
                        <a class="action-assign-submit" href="#">Assign to User</a>
                    </div>
                </form>
            {{ /assignAllowed }}

            {{ #deleteAllowed }}
                <a class="action-delete" href="#">Delete</a>
            {{ /deleteAllowed }}

            <form action="{{ performUrl }}" method="post">
                {% endverbatim %}
                    {% csrf_token %}
                {% verbatim %}
                <input type="hidden" name="task_id" value="{{ pk }}" />
                <a class="perform" href="#">Perform Task</a>
            </form>
        </li>
    </ul>
</script>
<script id="tasksPanel" type="text/html">
    <div class="panel-tasks">
        <form id="tasks_type_filter"></form>

        <form id="tasks_language_filter">
            <label for="id_task_language">Language needed:</label>
        </form>

        <ul class="tasks listing"></ul>
    </div>
</script>

{% endverbatim %}
{% endblock %}
