{% extends "teams/base.html" %}
{% load i18n teams_tags paginator doorman media_compressor verbatim_templatetag %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "js-teams-settings-panel" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ team }} {% trans 'Settings' %} | Universal Subtitles
{% endblock %}

{% block view_content %}

    {% with "settings" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="panel-holder view grid_9 alpha">
      <div class="tab panel-projects" style="display:none">
      </div>
      {% include "teams/_basic_settings.html" %}

    </div>

    <div class="controls grid_3 omega ">
        
      <ul class="sub-settings-panel">
      </ul>
    </div>


<script type="text/javascript">
$(window).load(function(){
    //findme
    {% include "teams/panel-base.js" %}
    {% include "teams/settings-panel.js" %}
});
</script>

<!-- templates -->
<script id="IMAGE_PRELOADER" type="text/html">
  <img class="placeholder" width="256" height1="30" src="{{ STATIC_URL }}images/ajax-loader.gif"/>
</script>
{% comment %}  Whatever is inside the verbatim tag does not run through
django's var subtitution, so the final template is render as it's written bellow.
This is needed, since it's for the js templating
{% endcomment %}
{% verbatim %}

<script id="subMenuItem" type="text/html">
  <li><a >{{label}}</a></li>
</script>

<script id="projectPanel" type="text/html">
    <div class="tools panel-project">
      <a class="button project-add">Add Project</a>
    </div>
    <ul class="projects listing">
    </ul>
</script>

<script id="projectEditPanel" type="text/html">
  <div class="project-edit-panel modal-window-bg">
    <form action="#">
        <div class="grid_4 alpha">
            <fieldset>
              <legend> Change project {{name}}</legend>
              <label for="name">Name</label>
              <input type="text" name="name" class="clearfix" value="{{name}}"/>

              <label for="name">Description</label>

              <textarea  name="description" class="clearfix" >{{description}}</textarea>
              <input type="hidden" value='{{pk}}' name="pk"/>
              <input type="hidden" value='{{order}}' name="order"/>
              <input type="hidden" value='{{slug}}' name="slug"/>
            </fieldset>
        </div>
        <div class="grid_4 omega">
            <fieldset>
              <legend>Workflows</legend>
              <p class="notation">Moderate this project's subtitles. Will override the team's workflow if exists.</p>
              <label for="workflow_enabled"><input type="checkbox"  name="workflow_enabled" {{#workflow_enabled}}checked="checked"{{/workflow_enabled}}/> Enable workflows</label>
            </fieldset>
        </div>

        <div class="grid_9 submit">
          <a class="button project-delete">Delete</a>
          <a class="button project-save">Save</a>
          <a class="button project-cancel">Changed my mind just cancel</a>
        </div>
    </form>
  </div>
</script>

<script id="projectListItem" type="text/html">
  <li>
    <span><a href="{{url}}">{{name}}</a>
    <ul class="actions">
      <li>
        <a class="action-edit" href="#">Edit</a>
      </li>
    </ul>
  </li>
</script>

<script id="tasksLanguagesList" type="text/html">
    <select id="id_task_language" name="language">
        <option value="">All Languages</option>
    </select>
</script>
<script id="tasksLanguagesListOption" type="text/html">
    <option value="{{ language }}">{{ language_display }}</option>
</script>
<script id="tasksTypesList" type="text/html">
    <ul class="types">
        <li class="type selected">
            All Pending
            <input type="hidden" name="type" value="" />
        </li>
        <li class="type">
            Review
            <input type="hidden" name="type" value="Review" />
        </li>
        <li class="type">
            Approve
            <input type="hidden" name="type" value="Approve" />
        </li>
        <li class="type">
            Translate
            <input type="hidden" name="type" value="Translate" />
        </li>
        <li class="type">
            Subtitle
            <input type="hidden" name="type" value="Subtitle" />
        </li>
    </ul>
</script>

<script id="confirmationDialog" type="text/html">
    <div class="modal-window-bg">
      <h3>{{title}}</h3>
      <div>{{body}}</div>
      <p class="clearfix"></p>
      <button class="red_button small submit_button cancel">{{cancelText}}</button>
      <button class="blue_button small submit_button confirm">{{okText}}</button>
    </div>
</script>

<script id="tasksListItem" type="text/html">
    <p>
        {{ #ghost }}
            <b>GHOST</b>
        {{ /ghost }}
        {{ #completed }}
            <b>COMPLETED</b>
        {{ /completed }}
        <a href="{{ teamVideoUrl }}">{{ teamVideoDisplay }}</a>
        <br/>
        <span>
            {{ #languageDisplay}}
                {{ languageDisplay }} subtitles
            {{ /languageDisplay}}

            {{ ^languageDisplay}}
                Transcription Needed
            {{ /languageDisplay}}
        </span>
        <br/>
        <span class="assignee">
            {{ #assigneeDisplay }}
                Assigned to {{ assigneeDisplay }}
            {{ /assigneeDisplay }}

            {{ ^assigneeDisplay }}
                Unassigned
            {{ /assigneeDisplay }}
        </span>
    </p>
    <p class="done">
        {{ #steps }}
            {{ #done }}
                &#x2611;
            {{ /done }}
            {{ ^done }}
                &#x2610;
            {{ /done }}
        {{ /steps }}

        {{ stepDisplay }}
    </p>
    <ul class="actions">
        <li>
            {{ #assignAllowed }}
                <form action="" method="post">
                    <a class="action-assign" href="#">Assign</a>
                    <div class="assignee-choice" style="display: none;">
                        {% endverbatim %}
                            {{ assign_form.assignee }}
                        {% verbatim %}
                        <a class="action-assign-submit" href="#">Assign to User</a>
                    </div>
                </form>
            {{ /assignAllowed }}

            {{ #deleteAllowed }}
                <a class="action-delete" href="#">Delete</a>
            {{ /deleteAllowed }}

            <form action="{{ performUrl }}" method="post">
                {% endverbatim %}
                    {% csrf_token %}
                {% verbatim %}
                <input type="hidden" name="task_id" value="{{ pk }}" />
                {{ #performAllowed }}
                    <a class="perform" href="#">Perform Task</a>
                {{ /performAllowed }}
            </form>
        </li>
    </ul>
</script>
<script id="tasksPanel" type="text/html">
    <div class="tools panel-tasks">
        <form id="tasks_type_filter"></form>

        <form id="tasks_language_filter">
            <label for="id_task_language">Language needed:</label>
        </form>

        <ul class="tasks listing"></ul>
    </div>
</script>

<script id="permissionsPanel" type="text/html">
    <div class="panel-permissions">
        <form class="permissions">
            <div class="grid_4 alpha messages">
                <fieldset>
                    <legend>Team Management</legend>

                    <label for="id_membership_policy">How can users join your team?</label>
                    {% endverbatim %}{{ settings_form.membership_policy }}{% verbatim %}

                    <label for="id_video_policy">Who can add/remove videos?</label>
                    {% endverbatim %}{{ settings_form.video_policy }}{% verbatim %}

                    <label>Who can assign tasks?</label>
                    <select>
                        <option>Any team member</option>
                        <option>Managers and admins</option>
                        <option>Admins only</option>
                    </select>

                </fieldset>
                <fieldset>

                    <legend>Subtitling</legend>

                    <label for="id_subtitle_policy">Who can create subtitles?</label>
                    <p class="notation">i.e. transcribe from video and perform time-alignment</p>
                    <select>
                        <option>Anyone</option>
                        <option>Any team member</option>
                        <option>Only managers and admins</option>
                        <option>Only admins</option>
                    </select>

                    <label for="id_translate_policy">Who can translate subtitles?</label>
                    <p class="notation">i.e. translate text from an original subtitle into a new language</p>
                    <select>
                        <option>Anyone</option>
                        <option>Any team member</option>
                        <option>Only managers and admins</option>
                        <option>Only admins</option>
                    </select>

                </fieldset>
            </div>
            <div class="grid_4 omega guidelines">
                <fieldset>
                    <legend>Workflows</legend>
                    <p class="notation">Add moderation steps and automate tasks</p>
                    <label for="basic_workflows_enabled"><input type="checkbox" name="workflows_enabled" id="basic_workflows_enabled"/> Enable workflows</label>
                </fieldset>

                <form action="" class="workflow" method="post"></form>
            </div>

            <div class="grid_9 submit">
                <input type="submit" class="submit" value="Save Changes" name="save" />
            </div>
        </form>
    </div>
</script>

<script id="guidelinesPanel" type="text/html">
    <div class="panel-guidelines">
        <form id="guidelines_messages_form">
            <div class="grid_4 alpha messages">
                <fieldset>
                    <legend>Custom messages</legend>
                    <p class="notation">
                        Customize the messages sent to your users.
                        The text you enter will preceed the default system message.
                    </p>

                    <label for="id_messages_invite">When a member is invited to join the team</label>
                    <textarea id="id_messages_invite" name="messages_invite"></textarea>

                    <label for="id_messages_manager">When a member is given the Manager role</label>
                    <textarea id="id_messages_manager" name="messages_manager"></textarea>

                    <label for="id_messages_admin">When a member is given the Admin role</label>
                    <textarea id="id_messages_admin" name="messages_admin"></textarea>
                </fieldset>
            </div>
            <div class="grid_4 omega guidelines">
                <fieldset>
                    <legend>Guidelines</legend>
                    <p class="notation">
                        Add guidelines to be displayed to your users when completing tasks.
                    </p>

                    <label for="id_guidelines_subtitle">When creating subtitles</label>
                    <textarea id="id_guidelines_subtitle" name="guidelines_subtitle"></textarea>

                    <label for="id_guidelines_translate">When translating</label>
                    <textarea id="id_guidelines_translate" name="guidelines_translate"></textarea>

                    <label for="id_guidelines_review">When reviewing</label>
                    <textarea id="id_guidelines_review" name="guidelines_review"></textarea>
                </fieldset>
            </div>

            <div class="grid_9 submit">
                <input type="submit" class="submit" value="Save Changes" name="save" />
            </div>
        </form>
    </div>
</script>

<script id="basicPanel" type="text/html">
    <div class="panel-basic">
        <div id="basic_settings_form">
            <div class="grid_4 alpha">
                <form class="team-settings">
                    <fieldset>
                            <legend>Team Details</legend>

                            <label for="basic_name">Name</label>
                            <input id="basic_name" type="text" name="name" value="" />

                            <label for="basic_description">Description</label>
                            <textarea id="basic_description" name="name"></textarea>
                        </fieldset>
                </form>
            </div>

            <div class="grid_4 omega">

                <form class="logo" action="{% endverbatim %}{% url teams:upload_logo team.slug %}{% verbatim %}" method="POST">
                    <fieldset>
                        <legend>Logo/Banner</legend>
                        {% endverbatim %}{% csrf_token %}
                        {% if team.logo %}
                            <img id="current_logo" src=""/>
                        {% endif %}{% verbatim %}
                        <input type="file" id="basic_picture" name="logo" />
                        <button class="upload-picture">
                            <span>Upload</span>
                        </button>
                        <p class="notation">Max width 940px</p>
                    </fieldset>
                </form>

            </div>
            
            <div class="grid_9 submit">
                <form class="team-settings"><input type="submit" class="submit" value="Save Changes" name="save" /></form>
            </div>
        </div>
    </div>
</script>

<script id="workflow" type="text/html">
    <fieldset>
        <label>Subtitle creation</label>
        <select name="perm_subtitle">
            <option>Don't request</option>
            <option>Request transcription</option>
        </select>

        <label>Translation</label>
        <select name="perm_translate">
            <option>Don't request</option>
            <option>Request translation</option>
        </select>

        <label>Review</label>
        <select name="perm_review">
            <option>Don't require review</option>
            <option>Request peer review</option>
            <option>Manager must review</option>
            <option>Admin must review</option>
        </select>

        <label>Approval</label>
        <select name="perm_approve">
            <option>Don't require approval</option>
            <option>Manager must approve</option>
            <option>Admin must approve</option>
        </select>

        <input type="submit" class="button submit" value="Save Workflow Changes" name="save" />
    </fieldset>
</script>

{% endverbatim %}
{% endblock %}
