{% extends "teams/base.html" %}

{% load i18n teams_tags widget media_compressor %}

{% block title %}
    {% trans 'Edit team video' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block view_content %}
    
    {% with "videos" as active %}
        {% include 'teams/_tabs.html' %}
    {% endwith %}

    <div class="view grid_9 alpha">
        <form method='post' action="." enctype="multipart/form-data">

            <h3>{% trans 'Edit video' %}: <em>{{ team_video.title }}</em></h3>
            <div class="grid_4 alpha">
                <fieldset>
                    {% include "_form_field.html" with field=form.video_url %}
                    {% include "_form_field.html" with field=form.title %}
                    {% include "_form_field.html" with field=form.description %}
                </fieldset>
            </div>

            <div class="grid_4 omega">
                <fieldset>
                    {% include "_form_field.html" with field=form.project %}
                    {% include "_form_field.html" with field=form.thumbnail %}
                </fieldset>
            </div>
                 
            {% if form.is_moderated_by_other_team %}
                {% blocktrans %} This video is being moderated by team {% endblocktrans %} <a href="{% url teams:detail slug=form.is_moderated_by_other_team.slug %}">{{form.is_moderated_by_other_team}}</a>.
            {% endif %}

            <div class="grid_9 submit">
                <button>{% trans 'Save' %}</button>
            </div>
            {% csrf_token %} 
        </form>
    </div>
    <script type="text/javascript"> 
      {% include "teams/team_video.js" %}
    </script>

{% endblock %}
