{% extends "settings.html" %}

{% load i18n teams_tags widget media_compressor %}

{% block body_attrs %}id="teams"{% endblock %}

{% block title %}
    {% trans 'Edit team video' %} | Universal Subtitles
{% endblock %}

{% block css %}
    {{ block.super }}
     {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-onsite-compiled" %}
{% endblock %}

{% block settings_content %}
    <div class="hd">
        <h2>{{ team }}</h2>
        {% with "videos" as active %}
            {% include 'teams/_edit_top_navigation.html' %}
        {% endwith %}
    </div>
        <div class="padding">
            <form method='post' action="." enctype="multipart/form-data">
            {% widget widget_params %}
            {{ form.as_p }}
            {% csrf_token %}              
            {% if form.is_moderated_by_other_team %}
                {% blocktrans %} This video is being moderated by team {% endblocktrans %} <a href="{% url teams:detail slug=form.is_moderated_by_other_team.slug %}">{{form.is_moderated_by_other_team}}</a>.


            {% endif %}

            <div class="ft">
                <button class="green_button small"><span>{% trans 'Save' %}</span></button>
            </div>
            </form>
        </div>
    <script type="text/javascript"> 
      {% include "teams/team_video.js" %}
    </script>

{% endblock %}
