{% extends "teams/base.html" %}

{% load i18n teams_tags paginator profiles_tags %}

{% block title %}
    {{ team }} | Universal Subtitles
{% endblock %}

{% block body_attrs %}id="teams" class="v1"{% endblock %}

{% block view_content %}

    {% with "activity" as current %}
        {% include "teams/_tabs.html" %}
    {% endwith %}

    <div class="view grid_9 alpha">
        {% if videos_action_list %}
            {% if is_paginated %}{% paginator %}{% endif %}
            <ul class="activity listing">
                {% with 1 as medium_thumb %}
                    {% for item in videos_action_list %}
                        <li>{{ item.render }}</li>
                    {% endfor %}
                {% endwith %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">{% trans "Sorry, no activity yet" %}...</p>
        {% endif %}
    </div>

    <div class="controls grid_3 omega">
        {% include "teams/_filters_activity.html" %}
        {% include "teams/_actions.html" %}
    </div>

{% endblock %}