{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 
1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {% block scripts %}
  {% endblock %}
  {% if not js_use_compiled %}
    {% include_bundle "js-base-dependencies" %}
    <script type="text/javascript">
      window.DEBUG_UNISUBS = true;
    </script>
    <script type="text/javascript">
      goog.require('goog.debug.FancyWindow');
    </script>
  {% endif %}
  {% include_bundle "unisubs-widgetizer" %}
</head>
<body>
{% block contents %}
{% endblock %}
</body>
</html>
