{% extends "videos/volunteer_featured.html" %}

{% load i18n %}

{% block pagination_script %}
<script type="text/javascript">
    jQuery(function($){
        $('.ajax-pagination').ajaxPaginator({
            container: $('.watch-page-content'),
            onPageChange: function(page, callback){
                VideosApi.load_requested_page_volunteer(page, function(data){
                    callback.call(this, data);
                }, this);
            },
        });
    });
</script>
{% endblock %}

{% block heading %}<a href="{% url videos:watch_page %}">{% trans "Help Subtitle Videos" %}</a>{% endblock %}

{% block content_title %}{% trans "Requested Videos" %}{% endblock %}
