{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Center Media - TestVideos/BrettPenfil.flv</title>
{% if not COMPRESS_MEDIA %}
  {% include_bundle "debug-embed-js" %}
  <script>
    goog.require('goog.debug.FancyWindow');
  </script>
{% endif %}
</head>

<body>

<div class="container">
  <div class="content">
File: http://media.futurehealth.ucsf.edu/inlp/TestVideos/BrettPenfil.flv<br />

HTML 5:<br />
<script type="text/javascript" src="{{embed_url}}">
  ({
       video_url: "http://media.futurehealth.ucsf.edu/inlp/TestVideos/BrettPenfil.flv"
  })
</script>
  </div>
</body>
</html>
