{% extends "jsdemo/base_demo.html" %}
{% block body %}
<div>
  <style type="text/css" media="screen">
/* Should only contain css for the actual widget */
div.unisubs-widget {
    position: relative;    
}
.unisubs-videoDiv {
    text-align: center;
}



.unisubs-widget {
    margin: 0 auto;
}
</style>
  <div class="unisubs-widget">

  </div>
</div>
<div aria-activedescendant="" tabindex="-1" aria-haspopup="true" role="menu" style="-moz-user-select: none; visibility: visible; left: 629px; top: 521px; display: none;" class="unisubs-langmenu unisubs-langmenu-vertical">
  <div aria-pressed="false" id=":5" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Add Subtitles</div>
  </div>
  <div id=":6" role="separator" style="-moz-user-select: none;" class="unisubs-langmenusep"></div>
  <div id=":7" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Logout</div>
  </div>
  <div id=":8" role="separator" style="-moz-user-select: none;" class="unisubs-langmenusep"></div>
  <div id=":9" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Share this</div>
  </div>
</div>
<iframe class="unisubs-modal-widget-bg" src='javascript:""' style="border: 0pt none; vertical-align: bottom; opacity: 0; width: 1627px; height: 498px;" frameborder="0"></iframe>
<div style="opacity: 0.3; width: 1627px; height: 498px;" class="unisubs-modal-widget-bg"></div>
<div style="left: 397px; top: 157px;" aria-labelledby=":a" role="dialog" tabindex="0" class="unisubs-modal-widget">
  <div id=":a" class="unisubs-modal-widget-title unisubs-modal-widget-title-draggable"><span class="unisubs-modal-widget-title-text"></span><span class="unisubs-modal-widget-title-close"></span></div>
  <div class="unisubs-modal-widget-content">
    <div class="unisubs-left">
      <div style="height: 300px;" class="unisubs-videoDiv">
        <video tabindex="0" controls="controls" autobuffer="" width="400">
          <source src="http://videos.mozilla.org/firefox3/switch/switch.ogg">
        </video>
 

        
        <div class="unisubs-captionDiv">May I inquire into how it is that you are doing today kind sir?</div>
      </div>
      
             
        	<div class="unisubs-videoControls">
					
						<span class="unisubs-playPause play"><span></span></span>
						
						<span class="unisubs-progress"><span class="unisubs-buffered"><span class="unisubs-played"></span></span><span class="unisubs-scrobbler"><span></span></span></span>

						<span class="unisubs-timespan"><div class="unisubs-timeElapsed">1:00</div>/5:15</span>						

						<span class="unisubs-volume"><span></span><div></div></span>						
					
					</div>
					
      <div></div>
      

    <div class="unisubs-timeline"><div class="top"> </div>

<div style="left: 20px;" class="unisubs-timeline-inner">
<div class="unisubs-timerow"><ul style="width: 1000px; left: 0px;" class="unisubs-timeline-time">

<li><span>0</span></li>
<li><span>1</span></li>
<li><span>2</span></li>
<li><span>3</span></li>
<li><span>4</span></li>
<li><span>5</span></li>
<li><span>6</span></li>
<li>7</li>
<li>8</li><li>9</li><li>10</li><li>11</li><li>12</li><li>13</li><li>14</li></ul><ul style="width: 900px; left: 900px;" class="unisubs-timeline-time"><li>15</li>
<li>16</li><li>17</li><li>18</li><li>19</li><li>20</li><li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li>
</ul></div>


<div class="unisubs-timeline-subs">

<div style="left: 30px;" class="unisubs-timeline-sub">
<span>dsfsdfsdfsdf</span><span class="unisubs-grabber unisubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="unisubs-grabber unisubs-rightGrabber"><strong></strong></span>
</div>

<div style="left: 123px;" class="unisubs-timeline-sub unisubs-timeline-sub-selected unisubs-timeline-sub-rightbump">
<span>dsfsdfsdfsdf</span><span class="unisubs-grabber unisubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="unisubs-grabber unisubs-rightGrabber"><strong></strong></span>
</div>

<div style="left: 209px;" class="unisubs-timeline-sub unisubs-timeline-sub unisubs-timeline-sub-leftbump">
<span>dsfsdfsdfsdf</span><span class="unisubs-grabber unisubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="unisubs-grabber unisubs-rightGrabber"><strong></strong></span>
</div>

<div style="left: 302px;" class="unisubs-timeline-sub unisubs-timeline-sub-unsynced">
<span>dsfsdfsdfsdf</span><span class="unisubs-grabber unisubs-leftGrabber"><strong></strong></span>
<span style="display: none;" class="unisubs-grabber unisubs-rightGrabber"><strong></strong></span>
</div>

</div></div><div class="marker"></div></div>

      
      
      <div class="unisubs-captioningArea">
      
      
        <div>
          <div></div>
          
          
          <ul class="unisubs-titlesList taller">
          
          
          <!-- //////////// The "taller" class should only be added to the titles list when the timeline is hidden ///////////-->
               <li>
              <span class="unisubs-timestamp">  
                <span class="unisubs-timestamp-time">10:31</span>   

                <span class="unisubs-changeTime">
                  <a href="#" class="unisubs-up">Up</a>
                  <a href="#" class="unisubs-down">Down</a>
                </span>
              </span>
              <span class="unisubs-title"><span>dfgdfg</span></span>
            </li>


            <li>
              <span class="unisubs-timestamp">  
                <span class="unisubs-timestamp-time">10:31</span>   

                <span class="unisubs-changeTime">
                  <a href="#" class="unisubs-up">Up</a>
                  <a href="#" class="unisubs-down">Down</a>
                </span>
              </span>
              <span class="unisubs-title"><span>dfgdfg</span></span>
            </li>


            <li>
              <span class="unisubs-timestamp">  
                <span class="unisubs-timestamp-time">10:31</span>   

                <span class="unisubs-changeTime">
                  <a href="#" class="unisubs-up">Up</a>
                  <a href="#" class="unisubs-down">Down</a>
                </span>
              </span>
              <span class="unisubs-title"><span>dfgdfg</span></span>
            </li>


            <li>
              <span class="unisubs-timestamp">  
                <span class="unisubs-timestamp-time">10:31</span>   

                <span class="unisubs-changeTime">
                  <a href="#" class="unisubs-up">Up</a>
                  <a href="#" class="unisubs-down">Down</a>
                </span>
              </span>
              <span class="unisubs-title unisubs-title-silence"><span>silence</span></span>
            </li>


            <li>
              <span class="unisubs-timestamp">  
                <span class="unisubs-timestamp-time">10:31</span>   

                <span class="unisubs-changeTime">
                  <a href="#" class="unisubs-up">Up</a>
                  <a href="#" class="unisubs-down">Down</a>
                </span>
              </span>
              <span class="unisubs-title"><span>dfgdfg</span></span>
            </li>




      
          </ul>
        </div>
      </div>
    </div>
    <div class="unisubs-right">
        <div class="unisubs-help-heading">
            <h2>Syncing</h2>
            <ul><span>Steps</span>
              <li><a href="#">1</a></li>
              <li><a class="unisubs-activestep" href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>         
          </div>
          <p>Congratulations, you finished the hard part (all that typing)!</p>
          <p>Now, to line up your subtitles to the video, tap DOWN right when each subtitle should appear.</p>
          <p>Tap down to begin, tap it for the first subtitle, and so on.</p>
          <p>Don't worry about small mistakes. We can correct them in the next step. If you need to start over, click "restart" below.</p>


          <div class="unisubs-extra">
            <p>Press play, then type everything people say in the text entry below the video. Don't let subtitles get too long.</p>

            <p>Hit Enter for a new line.</p>
            <span class="unisubs-spanarrow"></span>
          </div>  
        <div class="unisubs-legend">
          <div class="unisubs-begin"><span class="unisubs-down">down</span>Tap When Next Subtitle Should Appear</div>
          <div class="unisubs-play"><span class="unisubs-tab">tab</span>Play/Pause</div>
          <div class="unisubs-skip"><span class="unisubs-control">ctrl</span>Skip Back 8 Seconds</div>
          <div class="unisubs-clear"></div>
        </div>
        <div class="unisubs-steps">
       
            
           <a class="unisubs-backTo" href="#">Back to Transcribe</a>
           <a class="unisubs-restart" href="#">Restart this Step</a>        
  <a href="#" class="unisubs-done"><span><strong>Done?</strong> Next Step: Reviewing</span></a>

           

          </div>
      </div>
    </div>
    <div class="unisubs-clear"></div>
  </div>
  <div class="unisubs-modal-widget-buttons"></div>
  


  <span tabindex="0"></span></div>
{% endblock %}
