{% extends "jsdemo/base_demo.html" %}
{% block body %}
	


<div aria-activedescendant="" tabindex="-1" aria-haspopup="true" role="menu" style="-moz-user-select: none; visibility: visible; left: 629px; top: 521px; display: none;" class="unisubs-langmenu unisubs-langmenu-vertical">
  <div aria-pressed="false" id=":0" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Add Subtitles</div>
  </div>
  <div id=":1" role="separator" style="-moz-user-select: none;" class="unisubs-langmenusep"></div>
  <div id=":2" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Logout</div>
  </div>
  <div id=":3" role="separator" style="-moz-user-select: none;" class="unisubs-langmenusep"></div>
  <div id=":4" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Share this</div>
  </div>
</div>
<iframe class="unisubs-modal-widget-bg" src='javascript:""' style="border: 0pt none; vertical-align: bottom; opacity: 0; width: 1627px; height: 498px;" frameborder="0"></iframe>
<div style="opacity: 0.3; width: 1627px; height: 498px;" class="unisubs-modal-widget-bg"></div>
<div style="left: 397px; top: 157px;" aria-labelledby=":5" role="dialog" tabindex="0" class="unisubs-modal-widget">
  <div id=":5" class="unisubs-modal-widget-title unisubs-modal-widget-title-draggable"><span class="unisubs-modal-widget-title-text"></span><span class="unisubs-modal-widget-title-close"></span></div>
  <div class="unisubs-modal-widget-content unisubs-modal-widget-transcribe">
    <div class="unisubs-left">
      <div style="height: 300px;" class="unisubs-videoDiv">
        <video tabindex="0" controls="controls" autobuffer="" width="400">
          <source src="http://videos.mozilla.org/firefox3/switch/switch.ogg">
        </video>
        <div style="top: 240px;" class="unisubs-captionDiv"> This is a long caption right because it has so many characters </div>
      </div>
      
      
             
        	<div class="unisubs-videoControls">
					
						<span class="unisubs-playPause play"><span></span></span>
						
						<span class="unisubs-progress"><span class="unisubs-buffered"><span class="unisubs-played"></span></span><span class="unisubs-scrobbler"></span></span>

						<span class="unisubs-timespan"><div class="unisubs-timeElapsed">1:00</div>/5:15</span>						

						<span class="unisubs-volume"><span></span><div><span><span></span></span></div></span>						
					
					</div>
      
      <div></div>
      <div class="unisubs-captioningArea">
        <div>
          <div>
            <div style="background: none repeat scroll 0% 0% rgb(221, 221, 221);" class="unisubs-transcribeControls">
              <input class="trans" type="text">
            </div>
            <ul class="unisubs-titlesList">
              <li><span style="display: none;" class="unisubs-timestamp"></span><span class="unisubs-title unisubs-title-notime">
                <textarea>sdfsdfsdfsfsdf sfsdf </textarea>
                </span></li>
              <li><span style="display: none;" class="unisubs-timestamp"></span><span class="unisubs-title unisubs-title-notime"><span>dfgdfg</span></span></li>
              <li><span style="display: none;" class="unisubs-timestamp"></span><span class="unisubs-title unisubs-title-notime"><span>dfg</span></span></li>
              <li><span style="display: none;" class="unisubs-timestamp"></span><span class="unisubs-title unisubs-title-notime"><span>dfgdf</span></span></li>
              <li><span style="display: none;" class="unisubs-timestamp"></span><span class="unisubs-title unisubs-title-notime"><span>gdf</span></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="unisubs-right">
          <div class="unisubs-help-heading">
            <h2>Typing</h2>
            <ul><span>Steps</span>
              <li><a class="unisubs-activestep" href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
            </ul>         
          </div>
          <p>Thanks for making subtitles!! It's easy to learn and actually fun to do.</p>
          <p>While you watch the video, type everything people say. Don't let the subtitles get too long -- hit enter for a new line.</p>
          <p>Make sure to use the key controls below to pause and jump back, which will help you keep up.</p>


          <div class="unisubs-extra">
            <p>Press play, then type everything people say in the text entry below the video. Don't let subtitles get too long.</p>

            <p>Hit Enter for a new line.</p>
            <span class="unisubs-spanarrow"></span>
          </div>  


        <div class="unisubs-legend">
          <div class="unisubs-play"><span class="unisubs-tab">tab</span>Play/Pause</div>
          <div class="unisubs-skip"><span class="unisubs-control">ctrl</span>Skip Back <br />8 Seconds</div>
          <div class="unisubs-clear"></div>
          <div class="unisubs-speedmode">    
            <h4>Speed Mode</h4>
            <select>
              <option>Recommended: Magical Auto-Pause (keep typing!) </option>
            </select>
          </div>
        </div>
        <div class="unisubs-steps">

    <a class="unisubs-backTo unisubs-greybutton" href="#">Back to Transcribe</a>
           <a class="unisubs-restart" href="#">Restart this Step</a>
           
                 
          <a href="#" class="unisubs-done"><span><img src="../site_media/images/spinner.gif" /><strong>Done?</strong> Next Step: Syncing</span></a>
          
          
       

    </div>
    <div class="unisubs-clear"></div>
  </div>
  <div class="unisubs-modal-widget-buttons"></div>
  <span tabindex="0"></span></div>




  </div>
  
  <div class="unisubs-modal-widget-buttons"></div>
  <span tabindex="0"></span>
  </div>
  
	  </div>
	
{% endblock %}