{% extends "jsdemo/base_demo.html" %}
{% block body %}
	

<div>
  <style type="text/css" media="screen">
/* Should only contain css for the actual widget */
div.unisubs-widget {
    position: relative;    
}
.unisubs-videoDiv {
    text-align: center;
}



.unisubs-widget {
    margin: 0 auto;
}
</style>

<div aria-activedescendant="" tabindex="-1" aria-haspopup="true" role="menu" style="-moz-user-select: none; visibility: visible; left: 629px; top: 521px; display: none;" class="unisubs-langmenu unisubs-langmenu-vertical">
  <div aria-pressed="false" id=":0" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Add Subtitles</div>
  </div>
  <div id=":1" role="separator" style="-moz-user-select: none;" class="unisubs-langmenusep"></div>
  <div id=":2" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Logout</div>
  </div>
  <div id=":3" role="separator" style="-moz-user-select: none;" class="unisubs-langmenusep"></div>
  <div id=":4" style="-moz-user-select: none;" role="menuitem" class="unisubs-langmenuitem">
    <div class="unisubs-langmenuitem-content">Share this</div>
  </div>
</div>
<iframe class="unisubs-modal-widget-bg" src='javascript:""' style="border: 0pt none; vertical-align: bottom; opacity: 0; width: 1627px; height: 498px;" frameborder="0"></iframe>
<div style="opacity: 0.3; width: 1627px; height: 498px;" class="unisubs-modal-widget-bg"></div>
<div style="left: 397px; top: 157px;" aria-labelledby=":5" role="dialog" tabindex="0" class="unisubs-modal-widget">
  <div id=":5" class="unisubs-modal-widget-title unisubs-modal-widget-title-draggable"><span class="unisubs-modal-widget-title-text"></span><span class="unisubs-modal-widget-title-close"></span></div>
  <div class="unisubs-modal-widget-content unisubs-modal-widget-finished">
  
 
    <div class="unisubs-left">
   
      <div style="height: 300px;" class="unisubs-videoDiv">
        <video tabindex="0" controls="controls" autobuffer="" width="400">
          <source src="http://videos.mozilla.org/firefox3/switch/switch.ogg">
        </video>
      </div>
      
   </div>
    
    
    
    <div class="unisubs-right">
      
      <div class="unisubs-share">
				<img src="../site_media/images/blue_triangle.png" class="unisubs-blueTriangle" />
				<h2>Share your subtitles</h2>
				
				<p>Now everyone can watch the video with subtitles-- try it!<br />
					Then tell the world and invite your friends to help translate:</p>		      
      
      	<ul>
      		<li class="unisubs-facebook"><a href="#">Post to Facebook</a></li>
					<li class="unisubs-twitter"><a href="#">Post to Twitter</a></li>
					<li class="unisubs-friends"><a href="#">Email to friends</a></li>      	
      	</ul>
      
      <h3>Embed Code</h3>
      
               <p class="unisubs-embed">
            <textarea><script src="http://unisubsstaging.8planes.com/embed_widget.js?video_url=http://videos.mozilla.org/firefox3/switch/switch.ogg&amp;null"></script></textarea>
            <span>
            <embed quality="high" id="clippy" name="clippy" class="unisubs-flash" src="http://unisubsstaging.8planes.com/site_media/swf/clippy.swf" flashvars="text=%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22http%3A%2F%2Funisubsstaging.8planes.com%2Fembed_widget.js%3Fvideo_id%3DvsTB8omsa9uv%22%3E%3C%2Fscript%3E" bgcolor="#000000" allowscriptaccess="sameDomain" allowfullscreen="true" seamlesstabbing="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" width="110" height="14">
            </span></p>
            
            
            
      <h3>Permalink</h3>
      <a href="#" class="unisubs-permalink">http://www.universalsubtitles.org/asdfasdfas/asdfasdf</a>
      </div>


          
    </div>
    <div class="unisubs-clear"></div>

    <div class="unisubs-otherButtons">
      <a href="#" class="unisubs-otherClose"><span></span>Close and return to site</a> | 
      <a href="#" class="unisubs-goBack">Go to Universal Subtitles video homepage</a>
    </div>

      <div class="unisubs-translating">
   
      	<div class="unisubs-buttons">
          <a href="#" class="unisubs-done">Add a Translation Now</a>
          <a href="#" class="unisubs-done">Ask a Friend to Translate</a>

      	</div>
   
   
      
      	<p>Your subtitles are now ready to be translated-- by you and by others.  The best way to get translation help is to reach out to your friends or people in your community or orgnization.</p>
				<p>Do you know someone who speaks a language that you&#8217;d like to translate into?</p> 
      
   
      
      </div>

  </div>
  <div class="unisubs-modal-widget-buttons"></div>
  <span tabindex="0"></span></div>
{% endblock %}