{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}id="index"{% endblock %}

{% block main_content %}
<style>
    p, textarea {
        margin-bottom: 1.5em;
    }
    p.red {
        margin-bottom: 0;
    }
    .example p {
        padding: 1em 0 0;
        text-align: left;
    }
    code {
        font-family: monospace;
    }
</style>
<h2 class="centered alpha_badge">
    {% trans 'Add collaborative subtitling to every video on your site' %}
</h2>
<div class="grid_6 alpha">
    <p class="larger">
        {% trans 'Just drop one line of code into your page:' %}
    </p>
    <textarea class="embedder"><script type="text/javascript" src="http://s3.www.universalsubtitles.org/js/unisubs-widgetizer.js"></script></textarea>
    <p>
        {% blocktrans %}
            You can add it just before the <code>&lt;/head&gt;</code> or <code>&lt;/body&gt;</code> tag (<a href="https://github.com/pculture/unisubs/wiki/Widgetizer-script-usage-guide">see usage notes</a>).
        {% endblocktrans %}
    </p>
    <p class="larger">
        {% trans 'This lets you and visitors to your site' %}:
    </p>
    <ul>
        <li>
            {% trans 'Create subtitles for any compatible video' %}
        </li>
        <li>
            {% trans 'Find subtitles created by others' %}
        </li>
        <li>
            {% trans "Add translations and improve other's work" %}
        </li>
        <li>
            {% trans 'Make your videos searchable and accessible' %}
        </li>
        <li>
            {% trans 'Bring your videos to an international audience' %}
        </li>
    </ul>
    <div class="beat">
        <p>
            <span>{% trans 'Proud to be a' %}</span>{% trans 'Featured Mozilla Drumbeat Project' %}
        </p>
        <a href="#">Mozilla Drumbeat</a>
    </div>
</div>
<div class="grid_6 omega example">
    <img src="{{ STATIC_URL }}images/youtube.png" border="0" />
    <p>
        {% blocktrans %}
        A "subtitle me" or "choose language" button will appear across all compatible videos. 
        Users can click to activate (or create) subtitles.
        {% endblocktrans %}
    </p>
</div>
<div class="space">
    &nbsp;
</div>
<div class="yellow">
    <p class="red">
        {% trans 'This code is experimental. If you run into problems, please' %} 
        <a href="https://universalsubtitles.tenderapp.com/discussions/technical-support">{% trans 'let us know' %}</a>.
    </p>
</div>
{% endblock %}