{% extends "streamer/streamerdemobase.html" %}
{% block prescripts %}
  <link rel="stylesheet" href="{{STATIC_URL}}soundcloud-demo/css/sc-player-standard.css" type="text/css">
  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}soundcloud-demo/js/soundcloud.player.api.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}soundcloud-demo/js/sc-player.js"></script>
{% endblock %}
{% block content %}
    <a href="http://soundcloud.com/matas/hobnotropic" class="sc-player">My new dub track</a>
  <div class="STplayer STplayerEmbedded STplayerBarebones" 
       id="STtranscriptEmbed_5_pnNmdxMTqYxCp5xLBN9kigewIWoP9aTH" 
       style='width:440px; display: none;'>
    <div class="STbar">
      <div class="STlogo"><a href="http://speakertext.com/captionbox?ref=cb" target="_blank"></a></div>
    </div>
    <div class="STembedWrapper" style='width: 410px; height: 177px;'>
      <span id="STtranscriptContent1" class="STtranscriptContent" name="1000">Let's talk about the Internet. </span>
      <span id="STtranscriptContent2" class="STtranscriptContent" name="3980"><br><br>The Internet started off as a web of text documents, but as it matured and technology advanced, people started using it to share pictures, and music, and videos. </span>
      <span id="STtranscriptContent3" class="STtranscriptContent" name="17430"><br><br>But search engines like Google can still only see and understand text. </span>
      <span id="STtranscriptContent4" class="STtranscriptContent" name="23140"><br><br>If you're someone who is serious about putting video on the Web, this is a big problem for you. </span>
      <span id="STtranscriptContent5" class="STtranscriptContent" name="30260"><br><br>SpeakerText is a new service for video publishers that turns video into text and puts your videos on Google's radar. </span>
      <span id="STtranscriptContent6" class="STtranscriptContent" name="41440"><br><br>SpeakerText detects all the videos on your site and loads an interactive transcript plugin––called the SpeakerBar––beneath each video that's been transcribed. <br><br></span>
      <span id="STtranscriptContent7" class="STtranscriptContent" name="52602">The SpeakerBar shows you the full video text and automatically highlights each sentence as the video plays. </span>
      <span id="STtranscriptContent8" class="STtranscriptContent" name="61790"><br><br>You can use the SpeakerBar to scroll through the full transcript and click on the text to skip backwards and forwards through the video. </span>
      <span id="STtranscriptContent9" class="STtranscriptContent" name="70350"><br><br>You can even use the SpeakerBar to search for quotes within the video itself. </span>
      <span id="STtranscriptContent10" class="STtranscriptContent" name="80520"><br><br>The SpeakerBar makes it easy for people to share specific moments from inside the videos on your website. <br><br></span>
      <span id="STtranscriptContent11" class="STtranscriptContent" name="88362">If you copy a quote from the SpeakerBar and paste it into a rich text editor like a blog post or an email, the quote becomes a link--called a QuoteLink––that takes people back to your website and starts playing the video at the time cue where the quote appeared. </span>
      <span id="STtranscriptContent12" class="STtranscriptContent" name="111400"><br><br>People can also use the SpeakerBar to share the quotes they like and link back to them on social networking sites like Facebook and Twitter.     </span>
      <span id="STtranscriptContent13" class="STtranscriptContent" name="124630"><br><br>SpeakerText is easy to install and works with popular publishing platforms like Wordpress, and video sharing sites like YouTube, Blip.tv </span>
      <span id="STtranscriptContent14" class="STtranscriptContent" name="136006">and Brightcove. </span>
      <span id="STtranscriptContent15" class="STtranscriptContent" name="137200"><br><br>To learn more, visit SpeakerText.com</span>
    </div>
  </div>
{% endblock %}
