{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {% block prescripts %}{% endblock %}
  <script type="text/javascript">
    window.UNISUBS_STREAMER = true;
  </script>
  {% if not js_use_compiled %}
    {% include_bundle "js-base-dependencies" %}
    <script type="text/javascript">
      goog.require('goog.debug.FancyWindow');
    </script>
    <script type="text/javascript" src="/widget/config.js"></script>
    {% for script in scripts %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <script type="text/javascript" src="{% url widget:widgetizerbootloader %}"></script>
  {% else %}
    {% include_bundle "unisubs-widgetizer" %}
  {% endif %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
