{% load media_compressor %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 
1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL_BASE}}css/streamer.css"/>
  {% if not js_use_compiled %}
    {% include_bundle "js-base-dependencies" %}
    <script type="text/javascript">
      goog.require('goog.debug.FancyWindow');
      goog.require('goog.dom.annotate');
      window.UNISUBS_STREAMER = true;
    </script>
  {% endif %}
  {% include_bundle "unisubs-streamer" %}
</head>
<body>
  <object id="idOVideo" name="idOVideo" width="600" height="360"> 
    <param name="movie" value="http://www.youtube.com/v/1lxm-e0hMTw?hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1"> 
    <param name="allowFullScreen" value="true"> 
    <param name="allowScriptAccess" value="always"> 
    <param name="wmode" value="transparent"> 
    <embed id="idPlayer" name="idPlayer" wmode="transparent" src="http://www.youtube.com/v/1lxm-e0hMTw?hl=en_US&fs=1&rel=0&hd=1&border=0&enablejsapi=1" type="application/x-shockwave-flash" allowScriptAccess="always" allowfullscreen="true" width="600" height="360"> 
  </object> 
  <div class="unisubs-substreamer">
    <div class="unisubs-controls">
      <ul> 
        <li><a href="" id="unisubs-logo"><img src="http://f.cl.ly/items/390R0c261l0u431c0j35/unisubs.png" alt="Universal Subtitles" /></a></li> 
        <li><a href=""><img src="http://f.cl.ly/items/2E0E0I0S2Q190S283n45/twitter.png" alt="Twitter" /></a></li> 
        <li><a href=""><img src="http://f.cl.ly/items/2E0E0I0S2Q190S283n45/fb.png" alt="Facebook" /></a></li> 
        {# <li><a href="" id="edit-link">Edit Transcript</a></li> #}
      </ul> 
      <input class="unisubs-search" label="Search..."/>
    </div>
    <div class="unisubs-transcript">
      {% for sub in subs %}
        <span class="unisubs-sub" id="usub-{{videoid}}-{{sub.subtitle_id}}">{{sub.text}}</span>
      {% endfor %}
    </div>
  </div>
</body>
</html>
