{% load i18n %}

{% if obj %}
<div class="note">
    {{ obj.content|safe }}
    <div></div>
    <a href="#" announcement_id="{{ obj.pk }}" class="hide-announcement" style="float: right; font-size: 0.8em">{% trans "hide" %}</a>
    <script type="text/javascript">
        $('.note .hide-announcement').click(function(){
            var $this = $(this);
            $this.parents('.note').hide();
            document.cookie = '{{ cookie_name }}='+$this.attr('announcement_id');
            return false;
        });
    </script>
</div>
{% endif %}
