{% extends "videos/email_base.html" %}
{% load i18n localeurl_tags %}

{% block content %}
    <div style="font-size: 12px;">


      <p>Your video just received a new comment. <a href="http://{{ domain }}{{ user.get_absolute_url }}">{{ user }}</a> commented on {{video.title_display}}.</p>

      {% if is_rejection  %}
            <p>A version of <a href="{{language_url}}">version.language.language</a> subtitles, <a href="{{version_url}}">version.version_no</a>, was declined.</p>
      {% endif %}

      <blockquote style="margin:20px; padding-left: 20px; border-left: 4px solid #aaa; color: #777;">
            {{body|linebreaks}}
      </blockquote>

      {% with "http://"|add:domain|add:video.get_absolute_url as video_url %}
            <p>You can respond to this comment on the <a href="{{ version_url|default_if_none:video_url }}#comments">comments page</a>. Thanks for your participation!</p>
      {% endwith %}
    </div>

{% endblock %}

{% block dont_send %}
{% endblock %}